- url = genus.id ? admin_genus_path : admin_genera_path
= form_for genus, url: url, html: { class: 'form' } do |f|
  - if genus.errors.any?
    .alert.alert--alert
      %p= t('.errors', count: genus.errors.count)
      %ul
        - genus.errors.full_messages.each do |message|
          %li= message

  .page--show
    %section.page__panel
      .field
        = f.label :name
        = f.text_field :name, required: true
      .field
        = f.label :source
        = f.text_field :source
      .field
        = f.label :kingdom
        = f.select :kingdom, %w[plant animal]

    %section.page__content
      .field
        = f.label :description
        = f.text_area :description, class: 'textarea-markdown textarea--large', required: true

  .form__actions
    = f.submit t('generic.save'), class: 'recorder'
