- @page_title = t('.title')

.page__actions
  = link_to t('generic.back'), :admin_genera, role: 'button'
  = link_to t('generic.show'), @admin_genus, role: 'button'
  = link_to t('generic.destroy'),
            @admin_genus,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button'

= render 'form', genus: @genus
