- @page_title = t('.title')

.page__actions
  = link_to t('.new'), new_admin_resource_interaction_path, role: 'button', class: 'creative'

- if @resource_interactions.count.zero?
  .alert.alert--empty= t('.no_content')
- else
  %table
    %thead
      %tr
        %th= t('activerecord.attributes.resource_interaction.subject')
        %th= t('activerecord.attributes.resource_interaction.nature')
        %th= t('activerecord.attributes.resource_interaction.target')
        %th= t('activerecord.attributes.resource_interaction.notes')
        %th

    %tbody
      - @resource_interactions.each do |resource_interaction|
        %tr
          %td= resource_interaction.subject.name
          %td
            &rarr;
            = link_to resource_interaction.nature, admin_resource_interaction_path(resource_interaction)
            &rarr;
          %td= resource_interaction.target.name
          %td= resource_interaction.notes
          %td.actions
            = link_to t('generic.edit'), edit_admin_resource_interaction_path(resource_interaction), role: 'button'
            = link_to t('generic.destroy'),
                      admin_resource_interaction_path(resource_interaction),
                      method: :delete,
                      data: { confirm: t('generic.are_you_sure') },
                      role: 'button',
                      class: 'destructive'
