- url = layer.id ? admin_layer_path : admin_layers_path
= form_for layer, url: url, html: { class: 'form' } do |f|
  - if layer.errors.any?
    .alert.alert--alert
      %p= t('.errors', count: layer.errors.count)
      %ul
        - layer.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :color
    = f.text_field :color
  .field
    = f.label :description
    = f.text_area :description, class: 'textarea-markdown'

  .form__actions
    = f.submit t('generic.save'), class: 'recorder'
