- @page_title = t('.title')

.page__actions
  = link_to t('generic.back'), :admin_layers, role: 'button'
  = link_to t('generic.show'), @admin_layer, role: 'button'
  = link_to t('generic.destroy'),
            @admin_layer,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button'

= render 'form', layer: @layer
