- @page_title = t('.title')

.page__actions
  = link_to t('.new'), new_admin_layer_path, role: 'button', class: 'creative'

- if @layers.count.zero?
  .alert.alert--empty= t('.no_content')
- else
  %table
    %thead
      %tr
        %th= t('activerecord.attributes.layer.name')
        %th= t('activerecord.attributes.layer.color')
        %th= t('activerecord.attributes.layer.description')
        %th

    %tbody
      - @layers.each do |layer|
        %tr
          %td= link_to layer.name, admin_layer_path(layer)
          %td= layer.color
          %td= layer.description
          %td.actions
            = link_to t('generic.edit'), edit_admin_layer_path(layer), role: 'button'
            = link_to t('generic.destroy'),
                      admin_layer_path(layer),
                      method: :delete,
                      data: { confirm: t('generic.are_you_sure') },
                      role: 'button',
                      class: 'destructive'
