- @page_title = t('.title', name: @layer.name)

.page__actions
  = link_to t('generic.back'), admin_layers_path, role: 'button'

  - if policy([:admin, @layer]).edit?
    = link_to t('generic.edit'), edit_admin_layer_path(@layer), role: 'button'
  - if policy([:admin, @layer]).destroy?
    = link_to t('generic.destroy'),
              admin_layer_path,
              method: :delete,
              data: { confirm: t('generic.are_you_sure') },
              role: 'button',
              class: 'destructive'
.page--show
  %aside.page__panel
    %section
      %dl
        %dt= t('generic.definition', value: t('activerecord.attributes.layer.name'))
        %dd= @layer.name

        %dt= t('generic.definition', value: t('activerecord.attributes.layer.color'))
        %dd= @layer.color

  .page__content
    %h2= t('activerecord.attributes.layer.description')
    #markdown
      #markdown-source= @layer.description

:javascript
  renderMD(document.getElementById('markdown'), document.getElementById('markdown-source'))

