- @page_title = t('.resend_confirmation_instructions')

.devise-form
  = form_for(resource,
              as: resource_name,
              url: confirmation_path(resource_name),
              html: { method: :post, class: 'form' }) do |f|
    = render 'devise/shared/error_messages', resource: resource

    .field
      = f.label :email
      = f.email_field :email,
                      autofocus: true,
                      autocomplete: 'email',
                      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

    .form__actions
      = f.submit t('.resend_confirmation_instructions'), class: 'creative'
  %div
    = render 'devise/shared/links'
