<template>
  <div>
    <h1 v-if="showTitle">{{ resource.name }}</h1>
    <div class="grid--2">
      <dl>
        <dt>{{ $t('js.resources.description_area.kingdom') }}</dt>
        <dd>{{ genus.kingdom }}</dd>

        <dt>{{ $t('js.resources.description_area.genus') }}</dt>
        <dd>{{ genus.name }} <ph-info class="text--info clickable" @click="showGenus = true" /></dd>

        <dt>{{ $t('js.resources.description_area.common_names') }}</dt>
        <dd>{{ resource.commonNames.join(', ') }}</dd>

        <dt>{{ $t('js.resources.description_area.edible') }}</dt>
        <dd>{{ resource.edible ? $t('generic.yes') : $t('generic.no') }}</dd>

        <dt>{{ $t('js.resources.description_area.group') }}</dt>
        <dd>{{ resource.parent_id ? $t('generic.yes') : $t('generic.no') }}</dd>

        <dt>{{ $t('js.resources.description_area.layer') }}</dt>
        <dd :style="`background-color:${layer.fillColor}`">{{ layer.name }}</dd>
      </dl>
      <div>
        <h2>{{ $t('js.resources.description_area.likes') }}</h2>
        <em v-if="likes.length === 0">{{ $t('js.resources.description_area.no_known_resource') }}</em>
        <ul v-else>
          <li v-for="resourceInteraction in likes" :key="resourceInteraction.id">{{ resourceInteraction.getOtherResource(resource.id).name }}</li>
        </ul>

        <h2>{{ $t('js.resources.description_area.dislikes') }}</h2>
        <em v-if="dislikes.length === 0">{{ $t('js.resources.description_area.no_known_resource') }}</em>
        <ul v-else>
          <li v-for="resourceInteraction in dislikes" :key="resourceInteraction.id">{{ resourceInteraction.getOtherResource(resource.id).name }}</li>
        </ul>
      </div>
    </div>
    <hr>
    <MarkdownRenderer :content="resource.description" />

    <p v-if="resource.source">
      {{ $t('generic.definition', { value: $t('js.resources.description_area.source') }) }}
      <a :href="resource.source" rel="noopener noreferrer">{{ resource.source }}</a>
    </p>

    <modal v-if="showGenus"
           :title="genus.name"
           :cancellable="false"
           @validate="showGenus=false"
           @cancel="showGenus=false">
      <markdown-renderer :content="genus.description" />

      <p v-if="genus.source">
        {{ $t('generic.definition', { value: $t('js.resources.description_area.source') }) }}
        <a :href="genus.source" rel="noopener noreferrer">{{ genus.source }}</a>
      </p>
    </modal>
  </div>
</template>

<script>
import { PhInfo } from 'phosphor-vue'
import MarkdownRenderer from '../Layouts/_MarkdownRenderer'
import Modal from '../Layouts/_Modal'

export default {
  name: 'ResourceDescriptionArea',
  components: { PhInfo, Modal, MarkdownRenderer },
  props: {
    resource: { required: true, type: Object },
    showTitle: { required: false, type: Boolean, default: true },
  },
  data () {
    return {
      showGenus: false,
    }
  },
  computed: {
    layer () { return this.$store.getters.layer(this.$props.resource.layerId) },
    genus () { return this.$store.getters.genus(this.$props.resource.genusId) },
    likes () { return this.$store.getters.likesInteractionsByResource(this.$props.resource.id) },
    dislikes () { return this.$store.getters.dislikesInteractionsByResource(this.$props.resource.id) },
  },
}
</script>
