<template>
  <div class="resource-picker">
    <form action="#" class="resource-picker__search" @submit.prevent="()=>{}">
      <label for="picker-search">{{ $t('js.resources.picker.search') }}</label>
      <input ref="searchField" v-model="search" type="text" :placeholder="$t('js.resources.picker.enter_name')">
    </form>
    <div v-bar class="resource-picker__results">
      <div>
        <section v-for="layer in tree" :key="layer.id">
          <h3 :style="`border-bottom: 2px solid ${layer.borderColor}`">{{ layer.name }}</h3>
          <div v-for="resource in layer.resources"
               :key="resource.id">
            <button class="item clickable"
                    @click="$emit('select', resource)">
              {{ resource.name }}
              <small class="text--secondary">{{ resource.commonNames.join(', ') }}</small>
            </button>
            <button v-for="child in resource.getChildren()"
                    :key="child.id"
                    class="item clickable mld"
                    @click="$emit('select', child)">
              {{ child.name }}
              <small class="text--secondary">{{ child.commonNames.join(', ') }}</small>
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ResourcesPicker',
  data () {
    return {
      selected: null,
      search: '',
    }
  },
  computed: {
    tree () { return this.$store.getters.layersTree(this.search.toLowerCase()) },
  },
  created () {
    this.$nextTick(() => { this.$refs.searchField.focus() })
  },
}
</script>
