- @page_title = t('.title')

.devise-form
  = form_for(resource,
             as: resource_name,
             url: registration_path(resource_name),
             html: { method: :put, class: 'form' }) do |f|
    = render 'devise/shared/error_messages', resource: resource

    %fieldset
      .field
        = f.label :username
        = f.text_field :username, required: true

      .field
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: 'email', required: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        .alert.alert--warning= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email)

    %fieldset
      .field
        = f.label :password
        = f.password_field :password, autocomplete: 'new-password'
        .field__help (#{t('.leave_blank_if_you_don_t_want_to_change_it')})
        - if @minimum_password_length
          .field__help= t('devise.shared.minimum_password_length', count: @minimum_password_length)

      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: 'new-password'

    .field
      = f.label :current_password
      = f.password_field :current_password, autocomplete: 'current-password', required: true
      .field__help (#{t('.we_need_your_current_password_to_confirm_your_changes')})

    .form__actions
      = f.submit t('.update'), class: 'recorder'

  %div
    %h3= t('.cancel_my_account')
    %p
      = t('.unhappy')
    .form__actions
      = button_to t('.cancel_my_account'),
                  registration_path(resource_name),
                  data: { confirm: t('.are_you_sure') },
                  method: :delete,
                  class: 'destructive'
