- @page_title = t('.sign_up')

.devise-form
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form' }) do |f|
    = render 'devise/shared/error_messages', resource: resource

    .field
      = f.label :username
      = f.text_field :username, autofocus: true, required: true

    .field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email', required: true

    .field
      = f.label :password
      = f.password_field :password, autocomplete: 'new-password', required: true
      - if @minimum_password_length
        .field__help= t('devise.shared.minimum_password_length', count: @minimum_password_length)

    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: 'new-password', required: true

    .form__actions
      = f.submit t('.sign_up'), class: 'creative'

  %div
    = render 'devise/shared/links'
