@mixin inset-border($color, $width: 1px) {
  box-shadow: inset 0 0 0 $width $color;
}

fieldset {
  @include inset-border(var(--border-color));

  padding: $spacer-small $spacer-default;
  border: none;

  &:not(:last-child) {
    margin-bottom: $spacer-default;
  }
}

label {
  display: block;
  text-align: left;
}

textarea,
select,
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="hidden"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  @extend %control-border;

  width: 100%;
  padding: $spacer-tiny $spacer-small;
  border: none;
  background-color: var(--base-background);
  color: currentColor;
  outline: none;

  &[required] {
    background-color: var(--state-required);
    color: var(--state-required-inverse);
  }

  &:invalid {
    background-color: var(--state-warning);
    color: var(--state-warning-inverse);
  }

  &:valid {
    background-color: var(--state-ok);
    color: var(--state-ok-inverse);
  }
}
