<template>
  <div class="page debug">
    <code><strong>maps:</strong> {{ maps }}</code>
    <div class="debug--grid">
      <pre><strong>layers:</strong> {{ layers }}</pre>
      <pre><strong>resources:</strong> {{ resources }}</pre>
      <pre><strong>patches:</strong> {{ patches }}</pre>
      <pre><strong>elements:</strong> {{ elements }}</pre>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Debug',
  computed: {
    resources () { return this.$store.getters.resources },
    patches () { return this.$store.getters.patches },
    maps () { return this.$store.getters.maps },
    layers () { return this.$store.getters.layers },
    elements () { return this.$store.getters.elements },
  },
}
</script>

<style lang="scss">
.debug--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  > pre {
    // Not precise, but it's a temporary debug page
    overflow: auto;
    max-height: calc(100vh - 200px);
    padding: 0 5px;

    &:not(:first-child) {
      border-left: 1px solid #CCC;
    }
  }
}
</style>
