<template>
  <div class="map_form">
    <form action="#" class="form" @submit.prevent="createMap">
      <form-errors :errors="errors" model="map" />

      <div class="field">
        <label for="map-name">{{ $t('js.maps.form.name') }}</label>
        <input id="map-name"
               v-model="inputs.name"
               type="text"
               :placeholder="$t('js.maps.form.name_placeholder')"
               required="required">
      </div>

      <div class="field">
        <label>{{ $t('js.maps.form.map_type') }}</label>
        <div class="selectable" :class="{'selectable--selected': inputs.type === 'picture'}">
          <label>
            <input v-model="inputs.type" value="picture" type="radio" name="type"> {{ $t('js.maps.form.background_picture') }}
          </label>
          <p><small>{{ $t('js.maps.form.use_your_own_picture') }}</small></p>
          <div v-show="inputs.type === 'picture'">
            <label for="map-picture">{{ $t('js.maps.form.select_picture') }}</label>
            <input id="map-picture" type="file" :required="inputs.type === 'picture'" @change="prepareSelectedPicture">
            <div v-if="mapLoaded && !centerSelected" class="alert alert--info">
              <div>
                {{ $t('js.maps.form.select_center_and') }}
                <submit-button :loading="loading" :title="$t('js.maps.form.save_this_map')" />
              </div>
            </div>
            <div v-show="inputs.type === 'picture' && filePreview" id="pic-map" class="map map_form__map" />
          </div>
        </div>

        <div class="selectable" :class="{'selectable--selected': inputs.type === 'osm'}">
          <label>
            <input v-model="inputs.type" value="osm" type="radio" name="type"> OpenStreetMaps
          </label>
          <p><small>{{ $t('js.maps.form.use_osm_background') }}</small></p>
          <div v-show="inputs.type === 'osm'">
            <div v-if="mapLoaded && !centerSelected" class="alert alert--info">
              {{ $t('js.maps.form.select_center_and') }}
              <submit-button :loading="loading" :title="$t('js.maps.form.save_this_map')" />
            </div>
            <div id="osm-map" class="map map_form__map" />
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import mapTools from '../../tools/map/form'
import FormErrors from '../Widgets/FormErrors'
import SubmitButton from '../Widgets/Inputs/SubmitButton'

export default {
  name: 'MapForm',
  components: { SubmitButton, FormErrors },
  data () {
    return {
      loading: false,
      inputs: {
        name: '',
        type: 'picture',
        picture: null,
        center: [0, 0],
        pictureSize: null,
      },
      filePreview: null,

      // Maps instances
      pictureMap: null,
      osmMap: null,

      // Form filling state
      mapLoaded: false,
      centerSelected: false,
      errors: null,
    }
  },
  methods: {
    createMap () {
      const payload = {
        name: this.inputs.name,
        picture: this.inputs.type === 'picture' ? this.inputs.picture : null,
        center: this.inputs.center,
        pictureSize: this.inputs.pictureSize,
      }
      this.errors = null
      this.loading = true
      this.$store.dispatch('createMap', payload)
        .then((map) => {
          this.$router.push({ name: 'map', params: { mapId: map.id } })
        })
        .catch(error => { this.errors = error })
        .then(() => { this.loading = false })
    },
    destroyMaps () {
      if (this.pictureMap) this.pictureMap.setTarget(null)
      if (this.osmMap) this.osmMap.setTarget(null)
      this.pictureMap = null
      this.osmMap = null
      this.mapLoaded = false
    },
    prepareSelectedPicture (event) {
      const files = event.target.files || event.dataTransfer.files
      const file = files[0]
      const extension = file.name.split('.').pop().toLowerCase()
      if (!['png', 'jpg', 'jpeg', 'svg'].includes(extension)) {
        throw new Error(`${extension} is not a supported file format`)
      }
      this.inputs.picture = file
      const reader = new FileReader()
      // Destroy maps
      this.destroyMaps()

      reader.addEventListener('load', (event) => {
        this.filePreview = event.target.result
        this.createMapFromPicture()
      })
      reader.readAsDataURL(file)
    },
    createMapFromPicture () {
      if (!this.filePreview) return
      // Create new image
      const image = new Image()
      // Update input data and load map when loaded
      image.addEventListener('load', () => {
        // Update input with new data
        this.inputs.pictureSize = [image.width, image.height]

        // Create map
        this.pictureMap = mapTools.createMapFromPicture('pic-map', this.filePreview, [0, 0, ...this.inputs.pictureSize], this.setCenter)
        this.mapLoaded = true
      })

      // Set image source and load it
      image.src = this.filePreview
    },
    setCenter (center) {
      this.inputs.center = center
    },
  },
  watch: {
    'inputs.type' (newType) {
      this.destroyMaps()
      if (newType === 'osm') {
        this.$nextTick(() => {
          this.osmMap = mapTools.createOSMMap('osm-map', this.setCenter)
          this.mapLoaded = true
        })
      }
    },
  },
}
</script>
