<template>
  <div class="map_selector">
    <h1 class="mvl">{{ $t('js.maps.index.title') }}</h1>
    <div v-if="maps.length === 0" class="empty">
      <ph-asterisk size="30" />
      <small>{{ $t('js.map.index.no_map_available') }}</small>
    </div>
    <div v-for="map in maps" :key="map.id" class="toolbar toolbar--medium toolbar--bordered toolbar--block">
      <router-link :to="{name: 'map', params: { mapId: map.id }}" class="button">{{ map.name }}</router-link>
      <button type="button" class="button--icon text--destructive" @click="trashMap(map.id)"><ph-trash /></button>
    </div>
    <router-link :to="{name: 'mapForm'}" class="button block creative">{{ $t('js.maps.index.new_map') }}</router-link>
  </div>
</template>

<script>
import { PhTrash, PhAsterisk } from 'phosphor-vue'
import EventBus from '../../tools/event-bus'
import Toaster from '../../tools/toaster'

export default {
  name: 'MapSelector',
  components: { PhTrash, PhAsterisk },
  computed: {
    maps () { return this.$store.getters.maps },
  },
  methods: {
    trashMap (mapId) {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('js.map.destroy_confirm'),
        callback: () => {
          this.$store.dispatch('destroyMap', mapId)
            .then(() => { Toaster.success(this.$t('js.map.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.map.failed_to_destroy')) })
        },
      })
    },
  },
}
</script>
