<template>
  <div class="garden__content">
    <garden-side-panel :mode="mode"
                       :resource="resource"
                       :selected-patches-ids="selectedPatchesIds"
                       class="garden__content__options"
                       @change-mode="handleModeChange"
                       @change-resource="handleResourceChange"
                       @trash-selection="trashSelection" />
    <div id="map" class="garden__content__map map" />
    <garden-popup v-show="pointedPatch"
                  :patch="pointedPatch"
                  @edit-patch="handlePatchEdition"
                  @trash-patch="trashPatch"
                  @add-patch-resource="handleResourceAddition"
                  @show-activities="handleActivitiesDisplay"
                  @close="pointedPatch = null" />

    <modal v-if="editingPatch"
           :title="$t('js.patches.index.editing_patch')"
           :has-footer="false"
           @cancel="editingPatch = null">
      <patches-form :patch="editingPatch" @cancel="editingPatch = null" @saved="editingPatch = null" />
    </modal>

    <modal v-if="addingPatchResource"
           :title="$t('js.patches.index.resource_selection')"
           :has-footer="true"
           :cancellable="true"
           :validatable="false"
           @cancel="addingPatchResource = null">
      <resources-picker @select="addSelectedResource" />
    </modal>

    <modal v-if="showingActivities"
           :title="showingActivities.getName()"
           :cancellable="false"
           @validate="showingActivities = null">
      <element-activities :element="showingActivities" />
    </modal>
  </div>
</template>

<script>
import GardenMap from '../../classes/GardenMap'
import GardenSidePanel from '../Layouts/Garden/_SidePanel'
import EventBus from '../../tools/event-bus'
// Not used directly, but passed to the GardenMap
import GardenPopup from '../Layouts/Garden/_Popup'
import Modal from '../Layouts/_Modal'
import PatchesForm from '../Patches/_Form'
import ResourcesPicker from '../Resources/_Picker'
import ElementActivities from '../Elements/_Activities'
import Toaster from '../../tools/toaster'

export default {
  name: 'Map',
  components: { ElementActivities, ResourcesPicker, PatchesForm, Modal, GardenPopup, GardenSidePanel },
  props: {
    visibleLayers: { required: true, type: Array },
  },
  data () {
    return {
      /** Current mode
       * @type {String} */
      mode: 'Pointer',
      /** Selected resource in drawing mode
       * @type {Object|null} */
      resource: null,
      /** Selected patches in edition mode
       * @type {number[]} */
      selectedPatchesIds: [],
      /** Map instance
       * @type {GardenMap} */
      gardenMap: null,
      /** List of active layers
       * @type {number[]} */
      activeLayers: [],
      /** Active patch in review mode
       * @type {Patch} */
      pointedPatch: null,
      /** Patch identifier when adding resource in review mode
       * @type {number|null} */
      addingPatchResource: null,
      /** Patch to edit from review mode
       * @type {Patch|null} */
      editingPatch: null,
      /** Element to display
       * @type {Element|null} */
      showingActivities: null,
    }
  },
  methods: {
    setVisibleLayers (layers) {
      this.activeLayers = layers
      this.gardenMap.setVisibleLayers(layers)
    },
    setDrawTool () {
      // Even if the map stops other modes, we manually stop for this one because
      // it should have a resource to be valid.
      if (!this.resource) {
        this.gardenMap.stopModes()
        return
      }

      const resource = this.$store.getters.resource(this.resource)
      if (!resource) throw new Error(`Resource not found with id ${this.resource}`)

      this.gardenMap.draw(this.mode, resource)
    },
    handleModeChange (mode) {
      this.mode = mode
      switch (mode) {
        case 'Select':
          this.gardenMap.edit()
          break
        case 'Pointer':
          this.gardenMap.review()
          break
        default:
          this.setDrawTool()
      }
    },
    handleResourceChange (resource) {
      this.resource = resource
      this.setDrawTool()
    },
    handleAddPatch (event) {
      const payload = {
        map_id: parseInt(this.$route.params.mapId, 10),
        geometry: event.detail.geoJSON,
        elements: [{ resource_id: event.detail.resourceId }],
      }
      this.$store.dispatch('createPatch', { payload: { patch: payload }, feature: event.detail.feature })
        .then(() => { Toaster.success(this.$t('js.patch.successfully_created')) })
        .catch(() => { Toaster.error(this.$t('js.patch.failed_to_create')) })
    },
    handleUpdatePatch (event) {
      const payload = {
        id: event.detail.id,
        geometry: event.detail.geoJSON,
      }
      this.$store.dispatch('updatePatch', payload)
        // No need to update anything else for now.
        .then(() => { Toaster.success(this.$t('js.patch.successfully_updated')) })
        .catch(() => { Toaster.error(this.$t('js.patch.failed_to_update')) })
    },
    handlePointPatch (event) {
      const patchId = event.detail
      this.pointedPatch = patchId ? this.$store.getters.patch(patchId) : null
    },
    handleSelection (event) {
      this.selectedPatchesIds = event.detail
    },
    trashSelection () {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history_multiple'),
        callback: () => {
          const ids = this.gardenMap.trashSelection()
          for (const id of ids) {
            this.$store.dispatch('destroyPatch', id)
              .then(() => { Toaster.success(this.$t('js.patch.successfully_destroyed')) })
              .catch(() => { Toaster.error(this.$t('js.patch.failed_to_destroy')) })
          }
        },
      })
    },
    createMap () {
      // Everything has been loaded in _Layout.vue
      this.$nextTick(() => {
        const mapId = parseInt(this.$route.params.mapId, 10)
        const mapConfig = this.$store.getters.map(mapId)
        this.gardenMap = new GardenMap(mapConfig, 'garden-popup', 'map')

        this.gardenMap.mapElement.addEventListener('addpatch', this.handleAddPatch)
        this.gardenMap.mapElement.addEventListener('pointPatch', this.handlePointPatch)
        this.gardenMap.mapElement.addEventListener('updatepatch', this.handleUpdatePatch)
        this.gardenMap.mapElement.addEventListener('select', this.handleSelection)

        this.handleModeChange(this.mode)
        this.setVisibleLayers(this.$props.visibleLayers)

        // For debug only
        // this.gardenMap.debugLayers()
      })
    },
    destroyMap () {
      if (!this.gardenMap) return

      this.gardenMap.destroy()
      this.gardenMap = null
    },
    handlePatchEdition (patch) {
      this.editingPatch = patch
    },
    handleResourceAddition (patchId) {
      this.addingPatchResource = patchId
    },
    trashPatch (patchId) {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history'),
        callback: () => {
          this.gardenMap.destroyPatch(this.$store.getters.patch(patchId))
          this.$store.dispatch('destroyPatch', patchId)
            .then(() => { Toaster.success(this.$t('js.patch.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.patch.failed_to_destroy')) })
          this.pointedPatch = null
        },
      })
    },
    addSelectedResource (resource) {
      const payload = { resource_id: resource.id, patch_id: this.addingPatchResource }
      this.$store.dispatch('createElement', payload)
        .then(() => { this.addingPatchResource = null })
    },
    handleActivitiesDisplay (element) { this.showingActivities = element },
  },
  created () {
    this.createMap()
  },
  beforeDestroy () {
    this.destroyMap()
  },
  watch: {
    visibleLayers (newValue) {
      this.setVisibleLayers(newValue)
    },
  },
}
</script>
