- @page_title = t('.resend_unlock_instructions')

.devise-form
  = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = render 'devise/shared/error_messages', resource: resource
    .field
      = f.label :email, required: true
      = f.email_field :email, autofocus: true, autocomplete: 'email'

    .form__actions
      = f.submit t('.resend_unlock_instructions'), class: 'creative'
  %div
    = render 'devise/shared/links'
