<%
constructor_params = 'id = null, '
constructor_params += attributes.keys.reject{ |a| a == 'id' }.join(', ')

var_collection = model_name.camelize(:lower).pluralize
var_one        = model_name.camelize(:lower)
url_base       = "api/#{model_name.pluralize.underscore}"
%>import callApi from '../../helpers/Api'

/**
 * List of attributes that can be updated in updateAttributes()
 * @type {String[]}
 */
const ATTRIBUTES = [<%= attributes.keys.reject{|a| a == 'id'}.map{|a| "'#{a.camelize(:lower)}'"}.join(', ') %>]

export default class <%= model_name %> {
  /* eslint-disable camelcase */
  /**<% attributes.each do |param, details| %>
   * @param <%= param %> {<%= attribute_type(param, details) %>}<% end %>
   **/
  constructor ({ <%= constructor_params %> }) {<% attributes.each do |param, details| %>
    this.<%= param.camelize(:lower) %> = <%=attribute_setter(param, details) %><% end %>
  }
  /* eslint-enable camelcase */

  /**
   * Update from another instance
   * @param newInstance {<%= model_name %>}
   */
  updateAttributes (newInstance) {
    ATTRIBUTES.forEach((attribute) => {
      if (newInstance[attribute] !== undefined) this[attribute] = newInstance[attribute]
    })
  }

  /**
   * @return {Promise<<%= model_name %>[]>}
   */
  static getIndex () {
    return callApi('get', '/<%= url_base %>')
      .then(<%= var_collection %> => <%= var_collection %>.map(data => new <%= model_name %>(data)))
  }

  /**
   * @param id {number}
   * @return {Promise<<%= model_name %>>}
   */
  static get (id) {
    return callApi('get', `/<%= url_base %>/${id}`)
      .then(<%= var_one %> => new <%= model_name %>(<%= var_one %>))
  }

  /**
   * @param payload {Object}
   * @return {Promise<<%= model_name %>>}
   */
  static create (payload) {
    return callApi('post', '/<%= url_base %>', payload)
      .then(<%= var_one %> => new <%= model_name %>(<%= var_one %>))
  }

  /**
   * @param payload {Object}
   * @return {Promise<<%= model_name %>>}
   */
  static update (payload) {
    return callApi('put', `/<%= url_base %>/${payload.id}`, payload)
      .then(<%= var_one %> => new <%= model_name %>(<%= var_one %>))
  }

  /**
   * @param id {number}
   * @return {Promise<null>}
   */
  static destroy (id) { return callApi('delete', `/<%= url_base %>/${id}`) }
}
