<%
 # PostCategory
 singular_model_name = model_name
 # PostCategories
 plural_model_name = model_name.pluralize.camelize
 # postCategory
 singular_lower_model_name = model_name.camelize(:lower)
 # postCategories
 plural_lower_model_name = model_name.pluralize.camelize(:lower)

%>import <%= model_name %> from '../../classes/models/<%= model_name %>'

export default {
  state: {
    /** @type {<%= singular_model_name %>[]} */
    <%= plural_lower_model_name %>: [],
  },
  mutations: {
    set<%= singular_model_name %> (state, item) {
      const index = state.<%= plural_lower_model_name %>.findIndex(i => i.id === item.id)
      if (index > -1) state.<%= plural_lower_model_name %>[index].updateAttributes(item)
      else state.<%= plural_lower_model_name %>.push(item)
    },
    delete<%= singular_model_name %> (state, id) {
      const index = state.<%= plural_lower_model_name %>.findIndex(i => i.id === id)
      if (index > -1) state.<%= plural_lower_model_name %>.splice(index, 1)
      else throw new Error(`can't remove <%=singular_lower_model_name %> with id ${id}`)
    },
  },
  actions: {
    load<%= plural_model_name %> ({ commit }) {
      return <%= model_name %>.getIndex()
        .then(items => { items.forEach(item => { commit('set<%=singular_model_name %>', item) }) })
    },
    load<%= singular_model_name %> ({ commit }, id) {
      return <%= model_name %>.get(id)
        .then(item => { commit('set<%=singular_model_name %>', item) })
    },
    create<%= singular_model_name %> ({ commit, getters }, payload) {
      return <%= model_name %>.create(payload)
        .then(item => {
          commit('set<%=singular_model_name %>', item)
          // Return new instance
          return Promise.resolve(getters.<%= singular_lower_model_name %>(item.id))
        })
    },
    update<%= singular_model_name %> ({ commit, getters }, payload) {
      return <%= model_name %>.update(payload)
        .then(item => {
          commit('set<%=singular_model_name %>', item)
          // Return updated instance
          return Promise.resolve(getters.<%= singular_lower_model_name %>(item.id))
        })
    },
    destroy<%= singular_model_name %> ({ commit }, id) {
      return <%= model_name %>.destroy(id)
        .then(() => {
          commit('delete<%=singular_model_name %>', id)
          return Promise.resolve()
        })
    },
  },
  getters: {
    /**
     * @return {<%= singular_model_name %>[]}
     */
    <%=plural_lower_model_name %>: state => state.<%= plural_lower_model_name %>
      .sort((a, b) => a.name.localeCompare(b.name)), // FIXME: Validate or change sort field
    /**
     * @return {function(id): <%= singular_model_name %>|null}
     */
    <%=singular_lower_model_name %>: state => id => state.<%=plural_lower_model_name %>.find((i) => i.id === id),
  },
}
