// Modifiers
// ----------------------------------------------------------------------------
.block {
  display: block;
  width: 100%;
}

.text {
  &--info {
    color: var(--color-info);

    &.clickable {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--destructive,
  &--danger {
    color: var(--color-danger);
  }

  &--creative {
    color: var(--color-info);
  }

  &--warning {
    color: var(--color-warning);
  }

  &--secondary,
  &--mute {
    color: var(--color-mute);
  }

  &--done {
    color: var(--color-success);
  }
}

.small {
  font-size: smaller;
}

// Margins
// ----------------------------------------------------------------------------
.mbs {
  margin-bottom: $spacer-small;
}

.mts {
  margin-top: $spacer-small;
}

.mtd {
  margin-top: $spacer-default;
}

.mld {
  margin-left: $spacer-default;
}

.mvl {
  margin-top: 2em;
  margin-bottom: 2em;
}

// Layout
// ----------------------------------------------------------------------------
.centered {
  text-align: center;
}

.fr {
  float: right;
}

.unstyled {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.clickable {
  cursor: pointer;
}

.removed {
  opacity: 0.4;
  transition: opacity ease-out 500ms;

  &:hover {
    opacity: 1;
    transition: opacity ease-in 300ms;
  }
}

.inline {
  display: inline;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.spinning {
  animation: spin 1.5s infinite linear;
}
