%control-border {
  border: 1px solid var(--border-color);
  background-color: var(--element-background);
  border-radius: $border-radius;
}

%control-border-reset {
  border: none;
  border-radius: $border-radius;
}
