$spacer-default: 1rem;
$spacer-small: 0.5rem;
$spacer-tiny: 0.2rem;

$border-radius: 5px;

$line-height: 1.2em;

// Fixed font sizes
$font-size-default: 12pt;
$font-size-small: 8pt;
$font-size-medium: 15pt;
$font-size-h2: 14pt;
$font-size-h3: 12pt;

// Relative font sizes
$font-size-smaller: 0.8em;
$font-size-larger: 1.2em;

// Colors:
$blue: #426eb9;
$blue-transparent: transparentize($blue, 0.95);
$orange: #b97a42;
$orange-transparent: transparentize($orange, 0.95);
$green: #7ab942;
$green-transparent: transparentize($green, 0.95);
$red: #b9427a;
$red-transparent: transparentize($red, 0.95);
$gray: #ccc;
$gray-transparent: transparentize($gray, 0.95);

// Areas:
$page-height-calc: '100vh - (#{$line-height} + #{$spacer-default * 3})';

:root {

  // General
  --base-background: rgb(255, 255, 255);
  --base-text: rgb(60, 60, 60);
  --border-color: rgba(33, 33, 33, 0.15);
  --border-color-lighter: rgba(33, 33, 33, 0.1);

  // Colors
  --color-danger: #{ $red };
  --color-danger-transparent: #{ $red-transparent };
  --color-info: #{ $blue };
  --color-info-transparent: #{ $blue-transparent };
  --color-success: #{ $green };
  --color-success-transparent: #{ $green-transparent };
  --color-warning: #{ $orange };
  --color-warning-transparent: #{ $orange-transparent };
  --color-mute: #{ $gray };
  --color-mute-transparent: #{ $gray-transparent };

  // States
  --state-active: rgb(232, 232, 232);
  --state-required-inverse: white;
  --state-required: #{$red};
  --state-danger-inverse: white;
  --state-danger: #{$red};
  --state-danger-background: #{ $red-transparent };
  --state-suggestion-inverse: white;
  --state-suggestion: #{ $blue };
  --state-suggestion-background: #{ $blue-transparent };
  --state-ok-inverse: white;
  --state-ok: #{$green};
  --state-ok-background: #{ $green-transparent };
  --state-warning-inverse: white;
  --state-warning: #{ orange };
  --state-warning-background: #{ $orange-transparent };

  // Elements
  --element-background: rgb(250, 250, 250);
  --element-title: rgb(240, 240, 240);
  --element-outline: rgb(235, 235, 240);
}
