<template>
  <button type="submit" class="recorder" :disabled="loading">
    <ph-hourglass v-if="loading" class="spinning" />
    <ph-floppy-disk v-else />
    {{ title || $t('generic.save') }}
  </button>
</template>

<script>
import { PhFloppyDisk, PhHourglass } from 'phosphor-vue'

export default {
  name: 'SubmitButton',
  components: { PhFloppyDisk, PhHourglass },
  props: {
    loading: { required: false, type: Boolean, default: false },
    title: { required: false, type: String, default: null },
  },
}
</script>
