<template>
  <aside id="garden-popup" class="popup">
    <button id="popup-closer" class="popup__closer button--text" @click="$emit('close')" />
    <template v-if="patch">
      <h2 class="popup__header">{{ patch.getName() }}</h2>
      <div class="popup__actions">
        <div class="toolbar toolbar--tiny">
          <button v-if="patch.geometryType !== 'Point'"
                  type="button"
                  class="text--creative"
                  @click="$emit('add-patch-resource', patch.id)">
            <ph-plus-circle />
            {{ $t('js.layouts.garden.popup.add_resource') }}
          </button>
          <button type="button" @click="$emit('edit-patch', patch)">
            <ph-pencil weight="fill" />
            {{ $t('generic.edit') }}
          </button>
          <button type="button" class="text--destructive" @click="$emit('trash-patch', patch.id)">
            <ph-trash />
            {{ $t('generic.destroy') }}
          </button>
        </div>
      </div>
      <div class="popup__content">
        <!-- Point -->
        <element-action-buttons v-if="element"
                                :element="element"
                                :destructible="false"
                                @show-activities="bubbleShowActivities" />
        <!-- Other geometries with multiple elements -->
        <div v-if="elements && elements.length === 0" class="empty">{{ $t('js.patch.no_element_in_this_patch') }}</div>
        <div v-for="theElement in elements" :key="theElement.id" class="element-item-popup">
          <div class="element-item-popup__title">
            <div>{{ theElement.getName() }}</div>
            <small v-if="theElement.implantedAt">{{ $d(theElement.implantedAt, 'date') }}</small>
          </div>
          <element-action-buttons :element="theElement"
                                  @trash-element="trashElement"
                                  @show-activities="bubbleShowActivities" />
        </div>
      </div>
    </template>
  </aside>
</template>

<script>
import { PhPencil, PhPlusCircle, PhTrash } from 'phosphor-vue'
import Patch from '../../../classes/models/Patch'
import ElementActionButtons from '../../Elements/_ActionButtons'
import EventBus from '../../../tools/event-bus'
import Toaster from '../../../tools/toaster'

export default {
  name: 'GardenPopup',
  components: { PhPencil, PhPlusCircle, PhTrash, ElementActionButtons },
  props: {
    patch: { required: false, type: Patch, default: null },
  },
  computed: {
    element () {
      if (this.patch.geometryType !== 'Point') return null
      return this.$store.getters.elementsByPatchId(this.patch.id)[0]
    },
    elements () {
      if (this.patch.geometryType === 'Point') return null
      return this.$store.getters.elementsByPatchId(this.patch.id)
        .filter(c => !c.isRemoved())
    },
  },
  methods: {
    // FIXME: Use Vue's injections instead?
    trashElement (elementId) {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history'),
        callback: () => {
          this.$store.dispatch('destroyElement', elementId)
            .then(() => { Toaster.success(this.$t('js.element.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.element.failed_to_destroy')) })
        },
      })
    },
    // FIXME: Use Vue's injections instead?
    bubbleShowActivities (element) { this.$emit('show-activities', element) },
  },
}
</script>
