<template>
  <div>
    <div class="centered">
      <div class="toolbar toolbar--centered">
        <button :class="{active: mode === 'Pointer'}" :title="$t('js.layouts.garden.side_panel.button_pointer_mode')" @click="$emit('change-mode', 'Pointer')"><ph-cursor size="16" weight="fill" /></button>
        <button :class="{active: mode === 'Select'}" :title="$t('js.layouts.garden.side_panel.button_select_mode')" @click="$emit('change-mode', 'Select')"><ph-pencil size="16" weight="fill" /></button>
        <div class="separator" />
        <button :class="{active: mode === 'Point'}" :title="$t('js.layouts.garden.side_panel.button_draw_point')" @click="$emit('change-mode', 'Point')"><img src="/ui/action_point.svg" alt=""></button>
        <button :class="{active: mode === 'Polygon'}" :title="$t('js.layouts.garden.side_panel.button_draw_polygon')" @click="$emit('change-mode', 'Polygon')"><img src="/ui/action_polygon.svg" alt=""></button>
        <button :class="{active: mode === 'Circle'}" :title="$t('js.layouts.garden.side_panel.button_draw_circle')" @click="$emit('change-mode', 'Circle')"><img src="/ui/action_circle.svg" alt=""></button>
      </div>
    </div>

    <div v-bar class="garden__content__options__scroll_area">
      <div>
        <div v-show="isSelectMode">
          <button class="text--destructive" :disabled="selectedPatches.length=== 0" @click="$emit('trash-selection')">
            <ph-trash /> {{ $t('js.layouts.garden.side_panel.button_destroy_selected', {amount: selectedPatchesIds.length}) }}
          </button>

          <div v-if="selectedPatches.length === 0" class="empty">
            <ph-asterisk size="30" />
            <small>{{ $t('js.layouts.garden.side_panel.nothing_selected') }}</small>
          </div>

          <!-- FIXME: Rework this -->
          <section v-for="patch in selectedPatches"
                   :key="patch.id"
                   class="patch"
                   :class="{'patch--point': patch.geometryType === 'Point'}">
            <template v-if="patch.geometryType !== 'Point'">
              <img :src="`/ui/${patch.geometryType.toLowerCase()}.svg`" alt="">
              {{ patch.getName() }}
            </template>
            <ul class="resources_list">
              <elements-list-item v-for="element in patch.getElements()"
                                  :key="element.id"
                                  :element="element" />
            </ul>
          </section>
        </div>

        <div v-show="isDrawMode" class="layers-list">
          <form action="#" class="search-form" @submit.prevent="()=>{}">
            <div class="field">
              <label for="side-search"><ph-magnifying-glass /></label>
              <input id="side-search" v-model="searchTerm" type="text">
            </div>
          </form>
          <div v-if="!resource" class="text--warning small centered mhd mtd">{{ $t('js.layouts.garden.side_panel.please_select_resource') }}</div>
          <div v-else class="text--info small centered mhd mtd">{{ $t('js.layouts.garden.side_panel.placing_resource', {name: resourceName}) }}</div>
          <side-panel-layer v-for="layer in layersTree"
                            :key="`${layer.id}-${layer.resources.length}`"
                            :layer="layer"
                            :selected-id="resource"
                            @select="handleResourceSelection"
                            @show-info="handleResourceDisplay" />
        </div>
        <div v-show="isReviewMode" class="mvl">
          <section>
            <h2><ph-cursor /> &ndash; {{ $t('js.layouts.garden.side_panel.help.review_mode') }}</h2>
            <p>{{ $t('js.layouts.garden.side_panel.help.review_mode_text') }}</p>
          </section>
          <section>
            <h2><ph-pencil /> &ndash;  {{ $t('js.layouts.garden.side_panel.help.edition_mode') }}</h2>
            <p>{{ $t('js.layouts.garden.side_panel.help.edition_mode_text') }}</p>
          </section>

          <section>
            <h2><img src="/ui/action_point.svg" alt="">, <img src="/ui/action_polygon.svg" alt="">, <img src="/ui/action_circle.svg" alt=""> &ndash; {{ $t('js.layouts.garden.side_panel.help.drawing_mode') }}</h2>
            <p>{{ $t('js.layouts.garden.side_panel.help.drawing_mode_text_1') }}</p>
            <p>{{ $t('js.layouts.garden.side_panel.help.drawing_mode_text_2') }}</p>
          </section>
        </div>
      </div>
    </div>

    <resource-description-modal v-if="showDescriptionOf" :resource="showDescriptionOf" @close="showDescriptionOf = null" />
  </div>
</template>

<script>
import { PhAsterisk, PhPencil, PhCursor, PhTrash, PhMagnifyingGlass } from 'phosphor-vue'
import ElementsListItem from '../../Elements/_ListItem'
import ResourceDescriptionModal from '../../Resources/_DescriptionModal'
import SidePanelLayer from './SidePanel/_Layer'

export default {
  name: 'GardenSidePanel',
  components: { PhAsterisk, PhPencil, PhCursor, PhTrash, PhMagnifyingGlass, ResourceDescriptionModal, ElementsListItem, SidePanelLayer },
  props: {
    mode: { required: true, type: String },
    resource: { required: false, type: Number, default: null },
    selectedPatchesIds: { required: true, type: Array },
  },
  data () {
    return {
      showDescriptionOf: null,
      searchTerm: '',
    }
  },
  computed: {
    resources () { return this.$store.getters.resources },
    layersTree () { return this.$store.getters.layersTree(this.searchTerm) },
    resourceName () {
      const resource = this.resources.find(p => p.id === this.$props.resource)
      return resource.name
    },
    selectedPatches () { return this.$store.getters.patchesByIds(this.selectedPatchesIds) },
    // Modes shortcuts
    isDrawMode () { return this.mode === 'Point' || this.mode === 'Circle' || this.mode === 'Polygon' },
    isSelectMode () { return this.mode === 'Select' },
    isReviewMode () { return this.mode === 'Pointer' },
  },
  methods: {
    trashSelection () { this.$emit('trash-resources', this.selectedPatchesIds) },
    handleResourceSelection (resourceId) { this.$emit('change-resource', resourceId) },
    handleResourceDisplay (resourceId) { this.showDescriptionOf = this.$store.getters.resource(resourceId) },
  },
}
</script>
