<template>
  <div class="garden__toolbar">
    <div class="garden__toolbar__main">
      <div class="toolbar toolbar--large">
        <router-link :to="{ name: 'map', params: $route.params }" class="button">
          <span><ph-leaf size="30" /></span>
          <span>{{ $t('js.layouts.garden.toolbar.add_things') }}</span>
        </router-link>

        <router-link :to="{ name: 'patches', params: $route.params}" class="button">
          <span><ph-table size="30" /></span>
          <span>{{ $t('js.layouts.garden.toolbar.resource_overview') }}</span>
        </router-link>

        <router-link :to="{ name: 'todo', params: $route.params}" class="button">
          <span><ph-checks size="30" /></span>
          <span>{{ $t('js.layouts.garden.toolbar.todo') }}</span>
        </router-link>
      </div>
    </div>
    <div v-if="$route.name === 'map'" class="toolbar toolbar--large">
      <button v-for="(layer, index) of layers"
              :key="index"
              :title="layer.description"
              :class="visibleLayers.indexOf(layer.id) > -1 ? 'active': 'inactive'"
              @click="toggleLayer(layer.id)">
        <span>{{ index }}</span>
        <span>{{ layer.name }}</span>
      </button>
    </div>
  </div>
</template>

<script>
import { PhChecks, PhLeaf, PhTable } from 'phosphor-vue'

export default {
  name: 'GardenToolbar',
  components: { PhChecks, PhLeaf, PhTable },
  props: {
    tool: { required: false, type: String, default: 'resource' },
    visibleLayers: { required: false, type: Array, default: () => [] },
  },
  computed: {
    layers () { return this.$store.getters.layers },
  },
  methods: {
    toggleLayer (id) {
      const layers = [...this.visibleLayers]
      const index = layers.indexOf(id)
      if (index === -1) {
        layers.push(id)
      } else {
        layers.splice(index, 1)
      }

      this.$emit('change-layers', layers)
    },
  },
  watch: {
    'this.$props.visibleLayers' (newValue) { this.activeLayers = newValue },
  },
}
</script>
