- url = resource.id ? admin_resource_path : admin_resources_path
= form_for resource, url: url, html: { class: 'form' } do |f|
  - if resource.errors.any?
    .alert.alert--alert
      %p= t('.errors', count: resource.errors.count)
      %ul
        - resource.errors.full_messages.each do |message|
          %li= message

  .page--show
    %section.page__panel
      .field
        = f.label :name
        = f.text_field :name, required: true
      .field
        = f.label :common_names
        = f.text_field :common_names, value: resource.common_names.join(', ')
        .field__help= t('generic.comma_separated_values')
      .field
        = f.label :source
        = f.text_field :source
      .field
        = f.label :edible do
          = f.check_box :edible
          = t('activerecord.attributes.resource.edible')
      .field
        = f.label :parent_id, t('activerecord.attributes.resource.parent')
        = f.collection_select :parent_id, Resource.all.order(:name), :id, :name, prompt: true
      .field
        = f.label :layer_id, t('activerecord.attributes.resource.layer')
        = f.collection_select :layer_id, Layer.all, :id, :name, required: true
      .field
        = f.label :genus_id, t('activerecord.attributes.resource.genus')
        = f.collection_select :genus_id, Genus.all.order(:name), :id, :name, required: true
    %section.page__content
      .field
        = f.label :description
        = f.text_area :description, required: true, class: 'textarea-markdown textarea--large'

  .form__actions
    = f.submit t('generic.save'), class: 'recorder'
