- @page_title = t('.title')

.page__actions
  = link_to t('.new'), new_admin_resource_path, role: 'button', class: 'creative'

- if @resources.count.zero?
  .alert.alert--empty= t('.no_content')
- else
  %table
    %thead
      %tr
        %th= t('activerecord.attributes.resource.name')
        %th= t('activerecord.attributes.resource.edible')
        %th= t('activerecord.attributes.resource.parent')
        %th= t('activerecord.attributes.resource.layer')
        %th= t('activerecord.attributes.resource.genus')
        %th

    %tbody
      - @resources.each do |resource|
        %tr
          %td= link_to resource.name, admin_resource_path(resource)
          %td= yes_no resource.edible
          %td= resource.parent.presence&.name || '-'
          %td= resource.layer.name
          %td= resource.genus.name
          %td.actions
            = link_to t('generic.edit'), edit_admin_resource_path(resource), role: 'button'
            = link_to t('generic.destroy'),
                      admin_resource_path(resource),
                      method: :delete,
                      data: { confirm: t('generic.are_you_sure') },
                      role: 'button',
                      class: 'destructive'
