<template>
  <div class="todo">
    <div class="todo__check">
      <button class="button--icon button--text clickable" :disabled="!finishable" @click="finish"><ph-square /></button>
    </div>

    <div class="todo__content">
      <div class="todo__header">
        <div v-if="showDate" class="todo__header__date">
          {{ $d(activity.plannedFor, 'date') }}
        </div>
        <div class="todo__header__action">
          <component :is="icons[activity.name].icon" />
          {{ icons[activity.name].string }}
        </div>
        <div class="todo__header__title">
          <template v-if="patch.geometryType === 'Point'"> {{ patch.getName() }}</template>
          <template v-else>
            {{ $t('js.todos.activity.element_in_patch', { elementName: element.getName(), patchName: patch.getName() }) }}
          </template>
        </div>
        <div class="todo__header__actions toolbar">
          <button class="text--destructive" @click="trash"><ph-trash /> {{ $t('generic.destroy') }}</button>
        </div>
      </div>
      <div v-if="activity.notes" class="todo__note">
        {{ activity.notes }}
      </div>
    </div>
  </div>
</template>

<script>
import {
  PhDrop,
  PhLightning,
  PhNote,
  PhPencil,
  PhScissors,
  PhSquare,
  PhTrash,
} from 'phosphor-vue'
import Activity from '../../classes/models/Activity'
import Toaster from '../../tools/toaster'
import EventBus from '../../tools/event-bus'
import { isOver, isSameDay } from '../../helpers/Dates'

export default {
  name: 'TodoActivity',
  components: { PhSquare, PhPencil, PhTrash },
  props: {
    activity: { required: true, type: Activity },
    showDate: { required: false, type: Boolean, default: false },
  },
  data () {
    return {
      loading: false,
      icons: {
        water: { icon: PhDrop, string: this.$t('js.elements.action_buttons.action.water') },
        fertilize: { icon: PhLightning, string: this.$t('js.elements.action_buttons.action.fertilize') },
        trim: { icon: PhScissors, string: this.$t('js.elements.action_buttons.action.trim') },
        note: { icon: PhNote, string: this.$t('js.elements.action_buttons.action.observe') },
      },
    }
  },
  computed: {
    element () { return this.activity.getSubject() },
    patch () { return this.element.getPatch() },
    finishable () { return isSameDay(this.activity.plannedFor, this.now) || isOver(this.activity.plannedFor, this.now) },
  },
  methods: {
    finish () {
      this.loading = true
      this.$store.dispatch('finishActivity', this.activity.id)
        .then(() => {
          this.loading = false
          Toaster.success(this.$t('js.elements.last_action.finished_successfully'))
        })
    },
    trash () {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('js.elements.last_action.destroy_help'),
        callback: () => {
          this.loading = true
          this.$store.dispatch('destroyActivity', this.activity.id)
            .then(() => {
              this.loading = false
              Toaster.success(this.$t('js.elements.last_action.destroyed_successfully'))
            })
        },
      })
    },
  },
}
</script>
