<template>
  <div v-show="show"
       class="datetime_picker"
       :class="{'datetime_picker--popup': popup}"
       tabindex="0"
       @blur="handleBlur">
    <div class="datetime_picker__header">
      <div class="toolbar">
        <button type="button" @click="changeYear(-1)"><ph-caret-double-left /></button>
        <button type="button" @click="changeMonth(-1)"><ph-caret-left /></button>
      </div>
      <div class="datetime_picker__header__date">
        {{ niceDate(selectedDate) }}
      </div>
      <div class="toolbar">
        <button type="button" @click="changeMonth(1)"><ph-caret-right /></button>
        <button type="button" @click="changeYear(1)"><ph-caret-double-right /></button>
      </div>
    </div>
    <div class="datetime_picker__days">
      <div v-for="i in 7" :key="i" class="datetime_picker__days__header">
        {{ dayName(daysOfMonth[i - 1]) }}
      </div>
      <button v-for="day in daysOfMonth"
              :key="day.toString()"
              type="button"
              :class="dayCssClasses(day)"
              class="datetime_picker__day"
              :disabled="forbidden(day)"
              @click="setDate(day)">
        {{ day.getDate() }}
      </button>
    </div>
    <div v-if="time" class="datetime_picker__time">
      <input :id="`${inputId}_hours`"
             v-model="selectedHours"
             type="number"
             min="0"
             max="23"
             step="1"
             required="required"
             :name="`${inputId}_hours`"
             @change="setHours">
      :
      <input :id="`${inputId}_minutes`"
             v-model="selectedMinutes"
             type="number"
             min="0"
             max="59"
             step="1"
             required="required"
             :name="`${inputId}_minutes`"
             @change="setMinutes">
    </div>
    <input :id="`${inputId}_selected_date`"
           ref="hiddenInput"
           type="hidden"
           :name="inputName"
           :value="selectedDateIso">
  </div>
</template>

<script>
import {
  PhCaretDoubleLeft,
  PhCaretDoubleRight,
  PhCaretLeft,
  PhCaretRight,
} from 'phosphor-vue'
import { isSameDay, isSameMonth } from '../../helpers/Dates'

function daysInMonth (month, year) {
  return new Date(year, month + 1, 0).getDate()
}

function firstDayOfMonth (referenceDate) {
  const date = new Date(referenceDate)
  date.setDate(1)
  return date.getDay()
}

function fillMonthDays (targetDate) {
  // Don't touch the date
  const targetDateTime = new Date(targetDate)
  const days = []

  const amountOfDaysInMonth = daysInMonth(targetDateTime.getMonth(), targetDateTime.getFullYear())
  const firstWeekDay = firstDayOfMonth(targetDateTime)

  let amountToBuild = firstWeekDay + amountOfDaysInMonth
  amountToBuild = Math.ceil(amountToBuild / 7) * 7

  targetDateTime.setDate(-firstWeekDay + 1)

  // Fill days
  for (let i = 0; i < amountToBuild; i++) {
    const newDay = new Date(targetDateTime)
    newDay.setDate(newDay.getDate() + i)
    days.push(newDay)
  }

  return days
}

export default {
  name: 'DateTimePicker',
  components: { PhCaretDoubleLeft, PhCaretDoubleRight, PhCaretLeft, PhCaretRight },
  props: {
    // ISO string date
    value: { required: true, type: String },
    inputId: { required: true, type: String },
    inputName: { required: true, type: String },
    popup: { required: false, type: Boolean, default: false },
    time: { required: false, type: Boolean, default: true },
    notBefore: { required: false, type: Date, default: null },
    notAfter: { required: false, type: Date, default: null },
    show: { required: false, type: Boolean, default: true },
  },
  data () {
    const date = new Date(this.$props.value)
    return {
      selectedDate: date,
      today: new Date(),
      selectedHours: date.getHours(),
      selectedMinutes: date.getMinutes(),
      daysOfMonth: [],
      selectedDateIso: date.toISOString(),
    }
  },
  methods: {
    syncDate (date) {
      this.selectedHours = date.getHours()
      this.selectedMinutes = date.getMinutes()
      this.selectedDateIso = date.toISOString()
      this.buildMonth()
    },
    buildMonth () {
      this.daysOfMonth = fillMonthDays(this.selectedDate)
    },
    notifyChange () {
      this.selectedDateIso = this.selectedDate.toISOString()
      this.$emit('input', this.selectedDateIso)
    },
    setDate (date) {
      const newDate = new Date(this.selectedDate)
      newDate.setFullYear(date.getFullYear())
      newDate.setMonth(date.getMonth())
      newDate.setDate(date.getDate())
      this.selectedDate = newDate
      this.notifyChange()
      this.$emit('day-selected', this.selectedDateIso)
    },
    setHours () {
      const hours = parseInt(this.selectedHours, 10)
      const date = new Date(this.selectedDate)
      if (hours >= 0 && hours <= 23) date.setHours(hours)
      this.selectedDate = date
      this.notifyChange()
    },
    setMinutes () {
      const minutes = parseInt(this.selectedMinutes, 10)
      const date = new Date(this.selectedDate)
      if (minutes >= 0 && minutes <= 59) date.setMinutes(minutes)
      this.selectedDate = date
      this.notifyChange()
    },
    changeMonth (amount) {
      const month = this.selectedDate.getMonth()
      const date = new Date(this.selectedDate)
      date.setMonth(month + amount)
      this.selectedDate = date
      this.buildMonth()
      this.notifyChange()
    },
    changeYear (amount) {
      const year = this.selectedDate.getFullYear()
      const date = new Date(this.selectedDate)
      date.setFullYear(year + amount)
      this.selectedDate = date
      this.buildMonth()
      this.notifyChange()
    },
    forbidden (date) {
      return (!!this.$props.notAfter && this.$props.notAfter < date) || (!!this.$props.notBefore && this.$props.notBefore > date)
    },
    dayCssClasses (date) {
      return {
        'datetime_picker__day--today': isSameDay(date, this.today),
        'datetime_picker__day--out_of_range': !isSameMonth(date, this.selectedDate),
        'datetime_picker__day--selected': isSameDay(date, this.selectedDate),
      }
    },
    niceDate (date) {
      if (this.time) return this.$d(date, 'medium')

      return this.$d(date, 'date')
    },
    dayName (date) {
      return this.$d(date, 'day_name')
    },
    handleBlur (e) {
      if (!e.explicitOriginalTarget || this.$el.contains(e.explicitOriginalTarget)) return

      this.$emit('close')
    },
  },
  created () {
    this.syncDate(new Date(this.$props.value))
  },
  watch: {
    value (date) {
      this.syncDate(new Date(date))
    },
    show (value) {
      this.$nextTick(() => { if (value) { this.$el.focus() } })
    },
  },
}
</script>
