<template>
  <aside v-if="errors" class="form-errors">
    <h2>{{ $t('js.generic.form.has_errors') }}</h2>
    <ul>
      <li v-for="(messages, field) in errors" :key="field">
        <strong>{{ $t('generic.definition', { value: $t(`activerecord.attributes.${model}.${field}`) }) }}</strong>
        <template v-if="messages.length === 1">{{ messages[0] }}</template>
        <template v-else>
          <ul>
            <li v-for="message in messages" :key="message"> {{ message }}</li>
          </ul>
        </template>
      </li>
    </ul>
  </aside>
</template>

<script>
export default {
  name: 'FormErrors',
  props: {
    errors: { required: false, type: Array, default: null },
    model: { required: true, type: String },
  },
}
</script>
