<template>
  <form action="#" @submit.prevent="save">
    <form-errors :errors="errors" model="patch" />

    <div class="field">
      <label for="patchFormName">{{ $t('js.patches.form.name') }}</label>
      <input id="patchFormName" v-model="inputs.name" type="text">
    </div>

    <div class="form__actions">
      <button type="reset" :disabled="loading" @click="$emit('cancel')">{{ $t('generic.cancel') }}</button>
      <submit-button :loading="loading" />
    </div>
  </form>
</template>

<script>
import Patch from '../../classes/models/Patch'
import FormErrors from '../Widgets/FormErrors'
import SubmitButton from '../Widgets/Inputs/SubmitButton'

export default {
  name: 'PatchesForm',
  components: { SubmitButton, FormErrors },
  props: {
    // Mandatory; this form is not for patch creation, only edition.
    patch: { required: true, type: Patch },
  },
  data () {
    return {
      loading: false,
      inputs: { ...this.resetInputs() },
      errors: null,
    }
  },
  methods: {
    resetInputs () {
      return {
        id: this.patch.id,
        name: this.patch.name || '',
      }
    },
    save () {
      this.errors = null
      const payload = this.inputs
      this.loading = true
      this.$store.dispatch('updatePatch', payload)
        .then(() => { this.$emit('saved') })
        .catch((error) => { this.errors = error })
        .then(() => { this.loading = false })
    },
  },
}
</script>
