<template>
  <section class="patch_overview">
    <div class="patch_overview__title">
      <img :src="`ui/${patch.geometryType.toLowerCase()}.svg`" :alt="$t('js.patch.item.type_of_patch', {type: patch.geometryType})">
      <h2>
        {{ patch.getName() }}
      </h2>
      <div class="patch_overview__actions">
        <div class="toolbar">
          <button v-if="patch.geometryType !== 'Point'" class="text--creative" @click="$emit('add-element', patch)">
            <ph-plus-circle />
            {{ $t('js.patch.item.add_resource') }}
          </button>
          <button @click="$emit('edit-patch', patch)">
            <ph-pencil weight="fill" />
            {{ $t('generic.edit') }}
          </button>
          <button class="text--destructive" @click="$emit('trash-patch', patch)">
            <ph-trash />
            {{ $t('generic.destroy') }}
          </button>
        </div>
      </div>
    </div>
    <div class="patch_overview__content">
      <div v-if="elements.length === 0" class="empty">
        <ph-asterisk size="30" />
        <small>{{ $t('js.patch.no_element_in_this_patch') }}</small>
      </div>
      <elements-item v-for="element in elements"
                     :key="element.id"
                     :element="element"
                     :editable="patch.geometryType !== 'Point'"
                     @trash-element="bubbleTrashElement"
                     @show-activities="bubbleShowActivities" />
    </div>
  </section>
</template>

<script>
import { PhAsterisk, PhPencil, PhPlusCircle, PhTrash } from 'phosphor-vue'
import ElementsItem from '../Elements/_Item'
import Patch from '../../classes/models/Patch'

/**
 * @emits show-activities
 * @emits trash-element
 * @emits add-element
 * @emits edit-patch
 * @emits trash-patch
 */
export default {
  name: 'PatchItem',
  components: { PhAsterisk, PhPencil, PhPlusCircle, PhTrash, ElementsItem },
  props: {
    patch: { required: true, type: Patch },
  },
  computed: {
    elements () {
      return this.$store.getters.elementsByPatchId(this.$props.patch.id)
        // Don't care about the second patch
        .sort(a => a.isRemoved() ? 1 : -1)
    },
  },
  methods: {
    bubbleTrashElement (elementId) { this.$emit('trash-element', elementId) },
    bubbleShowActivities (element) { this.$emit('show-activities', element) },
  },
}
</script>
