<template>
  <section class="patch_overview" :class="{ removed : element.isRemoved()}">
    <div class="patch_overview__title">
      <img :src="`ui/${patch.geometryType.toLowerCase()}.svg`" :alt="$t('js.patch.item.type_of_patch', {type: patch.geometryType})">
      <h2>
        {{ patch.getName() }}
      </h2>
      <div class="patch_overview__actions">
        <div class="toolbar">
          <button @click="$emit('edit-patch', patch)">
            <ph-pencil weight="fill" />
            {{ $t('generic.edit') }}
          </button>
          <button class="text--destructive" @click="$emit('trash-patch', patch)">
            <ph-trash />
            {{ $t('generic.destroy') }}
          </button>
        </div>
      </div>
    </div>
    <element-action-buttons :element="element"
                            class="element-item__actions"
                            :destructible="false"
                            @show-activities="bubbleShowActivities" />
    <elements-item-content v-if="!element.isRemoved()" :element="element" class="element-item__content" />
  </section>
</template>

<script>
import { PhPencil, PhTrash } from 'phosphor-vue'
import Patch from '../../classes/models/Patch'
import ElementActionButtons from '../Elements/_ActionButtons'
import ElementsItemContent from '../Elements/_ItemContent'

/**
 * @emits edit-patch
 * @emits trash-patch
 * @emits show-activities
 */
export default {
  name: 'PatchPointAsItem',
  components: { ElementsItemContent, ElementActionButtons, PhPencil, PhTrash },
  props: {
    patch: { required: true, type: Patch },
  },
  computed: {
    element () { return this.$store.getters.elementsByPatchId(this.$props.patch.id)[0] },
  },
  methods: {
    bubbleShowActivities (elementId) { this.$emit('show-activities', elementId) },
  },
}
</script>
