<template>
  <div class="page">
    <div class="grid grid--2">
      <section>
        <h1>{{ $t('js.patches.index.alone_resources') }}</h1>
        <div v-if="pointPatches.length === 0" class="alert--mute">{{ $t('js.patches.index.no_point') }}</div>
        <point-as-item v-for="patch in pointPatches"
                       :key="patch.id"
                       :patch="patch"
                       @edit-patch="handleEditPatch"
                       @trash-patch="handleTrashPatch"
                       @show-activities="handleShowActivities" />
      </section>
      <section>
        <h1>{{ $t('js.patches.index.patches') }}</h1>
        <div v-if="shapePatches.length === 0" class="alert--mute">{{ $t('js.patches.index.no_patches') }}</div>
        <patch-item v-for="patch in shapePatches"
                    :key="patch.id"
                    :patch="patch"
                    @edit-patch="handleEditPatch"
                    @trash-patch="handleTrashPatch"
                    @add-element="handleAddElementTo"
                    @show-activities="handleShowActivities"
                    @trash-element="handleTrashElement" />
      </section>
    </div>

    <modal v-if="editingPatch"
           :title="$t('js.patches.index.editing_patch')"
           :has-footer="false"
           @cancel="stopPatchEdition">
      <patches-form :patch="editingPatch" @cancel="stopPatchEdition" @saved="stopPatchEdition" />
    </modal>

    <modal v-if="selectingElement"
           :title="$t('js.patches.index.resource_selection')"
           :has-footer="true"
           :cancellable="true"
           :validatable="false"
           @cancel="selectingElement = null">
      <resources-picker @select="handleAddSelectedResource" />
    </modal>

    <modal v-if="showingActivities"
           :title="showingActivities.getName()"
           :cancellable="false"
           @validate="showingActivities = null">
      <element-activities :element="showingActivities" />
    </modal>
  </div>
</template>

<script>
import Modal from '../Layouts/_Modal'
import PatchesForm from './_Form'
import ResourcesPicker from '../Resources/_Picker'
import PatchItem from '../Patches/_Item'
import PointAsItem from '../Patches/_PointAsItem'
import ElementActivities from '../Elements/_Activities'
import EventBus from '../../tools/event-bus'
import Toaster from '../../tools/toaster'

export default {
  name: 'PatchesIndex',
  components: { ElementActivities, PatchItem, PointAsItem, PatchesForm, ResourcesPicker, Modal },
  data () {
    return {
      editingPatch: null,
      editingElement: null,
      selectingElement: null,
      showingActivities: null,
    }
  },
  computed: {
    /**
     * @return {Patch[]}
     */
    patches () { return this.$store.getters.patches },

    /**
     * @return {Patch[]}
     */
    pointPatches () {
      return this.patches.filter(p => p.geometryType === 'Point')
        .sort((a, b) => {
          // Sort by name when state is the same
          if (a.isRemoved() === b.isRemoved()) return (a.name || '').localeCompare(b.name)
          // Move removed patches after
          else return a.isRemoved() ? 1 : -1
        })
    },

    /**
     * @return {Patch[]}
     */
    shapePatches () { return this.patches.filter(p => p.geometryType !== 'Point') },
  },
  methods: {

    /**
     * @param patch {Patch}
     */
    handleEditPatch (patch) { this.editingPatch = patch },

    stopPatchEdition () { this.editingPatch = null },

    /**
     * @param patch {Patch}
     */
    handleTrashPatch (patch) {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history'),
        callback: () => {
          this.$store.dispatch('destroyPatch', patch.id)
            .then(() => { Toaster.success(this.$t('js.patch.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.patch.failed_to_destroy')) })
        },
      })
    },

    /**
     * @param element {Element}
     */
    handleShowActivities (element) { this.showingActivities = element },

    /**
     * @param elementId {number}
     */
    handleTrashElement (elementId) {
      EventBus.$emit('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history'),
        callback: () => {
          this.$store.dispatch('destroyElement', elementId)
            .then(() => { Toaster.success(this.$t('js.element.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.element.failed_to_destroy')) })
        },
      })
    },

    /**
     * @param patch {Patch}
     */
    handleAddElementTo (patch) { this.selectingElement = patch },

    /**
     * @param resource {Resource}
     */
    handleAddSelectedResource (resource) {
      const payload = { resource_id: resource.id, patch_id: this.selectingElement.id }
      this.$store.dispatch('createElement', payload)
        .then(() => { this.selectingElement = null })
    },
  },
}
</script>
