<template>
  <div>
    <main-menu />
    <router-view v-if="ready" />
    <div v-else>Loading...</div>
    <confirm-dialog v-if="confirmDialogOptions"
                    :title="confirmDialogOptions.title"
                    :message="confirmDialogOptions.message"
                    :on-accept="confirmDialogOptions.callback"
                    @done="confirmDialogOptions = null" />
  </div>
</template>

<script>
import MainMenu from './vue/views/Layouts/_MainMenu'
import ConfirmDialog from './vue/views/Widgets/ConfirmDialog'
import EventBus from './vue/tools/event-bus'

export default {
  name: 'App',
  components: { ConfirmDialog, MainMenu },
  data () {
    return {
      ready: false,
      confirmDialogOptions: null,
    }
  },
  created () {
    EventBus.$on('ask-confirmation',
      /** @param dialogOptions { title, message, callback } */
      (dialogOptions) => { this.confirmDialogOptions = dialogOptions })
    Promise.all([
      this.$store.dispatch('loadMaps'),
      this.$store.dispatch('loadLayers'),
      this.$store.dispatch('loadGenera'),
      this.$store.dispatch('loadResources'),
      this.$store.dispatch('loadResourceInteractions'),
    ])
      .then(() => { this.ready = true })
  },
}
</script>
