<template>
  <li class="resources_list__resource">
    <div class="resources_list__resource__header">
      <img :src="resource.getPicturePath()" alt="">
      <h4 :class="{active: selectedId === resource.id}"
          @click="$emit('select', resource.id)">
        {{ resource.name }}
      </h4>
      <button class="button--text text--info" :title="$t('generic.info')" @click="$emit('show-info', resource.id)"><ph-info /></button>
    </div>
  </li>
</template>

<script>
import { PhInfo } from 'phosphor-vue'
import Resource from '../../../../classes/models/Resource'

/**
 * @emits select {Number}
 * @emits showInfo {Number}
 */
export default {
  name: 'SidePanelChildResource',
  components: { PhInfo },
  props: {
    resource: { required: true, type: Resource },
    selectedId: { required: false, type: Number, default: null },
  },
}
</script>
