<template>
  <div class="resources_list">
    <h3 :style="`border-bottom: 2px solid ${layer.borderColor}`"
        class="resources_list__title">
      {{ layer.name }}
    </h3>
    <div class="resources_list__content">
      <div class="resources_list__description">{{ layer.description }}</div>
      <ul class="resources_list__resources">
        <side-panel-parent-resource v-for="resource in layer.resources"
                                    :key="resource.id"
                                    :resource="resource"
                                    :selected-id="selectedId"
                                    @select="bubbleSelect"
                                    @show-info="bubbleShowInfo" />
      </ul>
    </div>
  </div>
</template>

<script>
import SidePanelParentResource from './_ParentResource'

/**
 * @emits select {Number}
 * @emits show-info {Number}
 */
export default {
  name: 'SidePanelLayer',
  components: { SidePanelParentResource },
  props: {
    // Layer with filtered resources list
    layer: { required: true, type: Object },
    selectedId: { required: false, type: Number, default: null },
  },
  methods: {
    bubbleSelect (resourceId) { this.$emit('select', resourceId) },
    bubbleShowInfo (resourceId) { this.$emit('show-info', resourceId) },
  },
}
</script>
