<template>
  <li class="resources_list__resource">
    <div class="resources_list__resource__header">
      <img :src="resource.getPicturePath()" alt="">
      <h4 :class="{active: selectedId === resource.id}"
          @click="$emit('select', resource.id)">
        {{ resource.name }}
      </h4>
      <div>
        <button v-if="children.length > 0" class="button--text" @click="expanded =! expanded">
          <ph-caret-circle-up v-if="expanded" />
          <ph-caret-circle-down v-else />
        </button>
        <button class="button--text text--info" @click="$emit('show-info', resource.id)"><ph-info /></button>
      </div>
    </div>

    <ul v-show="expanded" class="resources_list__resource__content">
      <side-panel-child-resource v-for="child in children"
                                 :key="child.id"
                                 :resource="child"
                                 :selected-id="selectedId"
                                 @select="bubbleSelect"
                                 @show-info="bubbleShowInfo" />
    </ul>
  </li>
</template>

<script>
import { PhCaretCircleDown, PhCaretCircleUp, PhInfo } from 'phosphor-vue'
import Resource from '../../../../classes/models/Resource'
import SidePanelChildResource from './_ChildResource'

/**
 * @emits select {Number}
 * @emits showInfo {Number}
 */
export default {
  name: 'SidePanelParentResource',
  components: { PhCaretCircleDown, PhCaretCircleUp, PhInfo, SidePanelChildResource },
  props: {
    resource: { required: true, type: Resource },
    selectedId: { required: false, type: Number, default: null },
  },
  data () {
    return {
      expanded: false,
    }
  },
  computed: {
    children () { return this.$store.getters.childResources(this.$props.resource.id) },
  },
  methods: {
    bubbleSelect (resourceId) { this.$emit('select', resourceId) },
    bubbleShowInfo (resourceId) { this.$emit('show-info', resourceId) },
  },
}
</script>
