<template>
  <form action="#" @submit.prevent="save">
    <form-errors :errors="errors" model="activity" />

    <elements-last-action :element-id="elementId" :action="action" />

    <div class="field">
      <label :for="`${formId}-date`">{{ $t('js.activities.form.date') }}</label>
      <input type="text" :value="$d(new Date(selectedDate), 'date')" @click="showPicker = !showPicker">
      <date-time-picker v-model="selectedDate"
                        :show="!!showPicker"
                        :time="false"
                        :input-id="`${formId}-date`"
                        :popup="true"
                        input-name="date"
                        v-bind="pickerProps"
                        @day-selected="showPicker = false"
                        @close="showPicker = false" />
    </div>

    <div class="field">
      <label :for="`${formId}-notes`">{{ $t('activerecord.attributes.activity.notes') }}</label>
      <textarea :id="`${formId}-notes`" v-model="inputs.notes" name="notes" :required="action ==='note'" />
    </div>

    <div class="form__actions">
      <button type="reset" :disabled="loading" @click="$emit('cancel')">{{ $t('generic.cancel') }}</button>
      <submit-button :loading="loading" />
    </div>
  </form>
</template>

<script>
import RandomString from '../../helpers/RandomString'
import DateTimePicker from '../Widgets/DateTimePicker'
import FormErrors from '../Widgets/FormErrors'
import Toaster from '../../tools/toaster'
import ElementsLastAction from '../Elements/_LastAction'
import SubmitButton from '../Widgets/Inputs/SubmitButton'

export default {
  name: 'ActivityForm',
  components: { SubmitButton, ElementsLastAction, FormErrors, DateTimePicker },
  props: {
    elementId: { required: true, type: Number },
    action: { required: true, type: String },
  },
  data () {
    return {
      loading: false,
      errors: null,
      showPicker: false,
      formId: RandomString(),
      selectedDate: new Date().toISOString(),
      pickerProps: {},
      inputs: {
        notes: '',
      },
    }
  },
  methods: {
    save () {
      const date = new Date(this.selectedDate)
      const payload = {
        notes: this.inputs.notes,
        subject_id: this.$props.elementId,
        subject_type: 'Element',
        name: this.$props.action,
      }
      if (date >= new Date()) {
        payload.planned_for = this.selectedDate
      } else {
        payload.done_at = this.selectedDate
      }
      this.loading = true
      this.$store.dispatch('createActivity', payload)
        .then(() => {
          this.$emit('done')
          Toaster.success(this.$t('js.activity.successfully_created'))
        })
        .catch((error) => {
          this.errors = error
          Toaster.error(this.$t('js.activity.failed_to_create'))
        })
        .then(() => { this.loading = false })
    },
  },
  watch: {
    action () {
      this.showPicker = false
      this.inputs.notes = ''
      this.selectedDate = new Date().toISOString()
    },
  },
}
</script>
