- @page_title = 'Change log'

.page--static
  %section
    %p Here are the main changes performed on Garden Party.

    .alert.alert--info
      The dates are related to code changes, not visible, online changes.

  %section
    %h2 17/12/2020
    %ul
      %li
        Improved feedback on form submission.
      %li
        Improved visual alerts style.
      %li
        Instances are now configurable via a YAML file.

  %section
    %h2 15/12/2020 - Documentation
    %ul
      %li
        Added links to user documentation
      %li
        Improved date picker for actions

  %section
    %h2 09/12/2020 - Fixes
    %ul
      %li
        An error prevented to create actions in the future, and has been fixed.

  %section
    %h2 07/12/2020 - 0.0.12 - Planification
    %ul
      %li
        Changes were made to elements to allow planification for removal from
        patches.
      %li
        Changes were made to inventory to make it more readable... I guess...

  %section
    %h2 06/12/2020 - Maintenance
    %ul
      %li
        Actions are now polymorphic, in preparation to crop actions. The <code>
        element_id</code> was replaced by <code>subject_id</code> and <code>
        subject_type</code>.
      %li
        Write Cucumber tests for the "Inventory" view.

  %section
    %h2 05/12/2020 - Maintenance
    %ul
      %li
        Table "crops" was renamed to "elements".

  %section
    %h2 04/12/2020 - Todo
    %ul
      %li
        Create a Todo page which list pending actions, day by day.

  %section
    %h2 03/12/2020 - 0.0.11 - Planification
    %ul
      %li
        Create a planning system: an action on a element can now be defined in the
        future. Don't forget to trim your trees anymore!

  %section
    %h2 01/12/2020 - Search
    %ul
      %li
        Create a search field to find resources easily.
      %li
        Fix sub-resource selection
      %li
        Create a basic admin area to manage resource interaction

  %section
    %h2 29/11/2020 - 0.0.10 - Resource removal
    %ul
      %li
        It's now possible to mark a resource as "removed". It will not show up on the
        map anymore, but will still be visible in the overview, for later consultation.
      %li
        It's now possible to delete maps.
      %li
        When deleting elements, user has to confirm on a dialog.
      %li
        Some interface improvements, mainly targeting Chrome.
      %li
        When creating/updating/deleting elements, a feedback is made to the user
      %li
        Form errors are now displayed.

  %section
    %h2 28/11/2020 - 0.0.9 - Actions
    %ul
      %li
        It's not possible to tell the system when a element has been or will be placed
        in the real world.
      %li
        Add a simple actions system: we can now perform actions on elements and
        associate a note to it
      %li
        A table summarizes actions performed for every element.
      %li
        Element destruction must now be confirmed.
      %li
        Some interface improvements were done, and fixes were made specially for Chrome

  %section
    %h2 26/11/2020 - 0.0.8 - Authentication
    %ul
      %li
        Authentication setup.
      %li
        Maps now belong to someone!
      %li
        Authorizations setup: one user can only changes its maps.

  %section
    %h2 19/11/2020 - 0.0.7 - Administration
    %ul
      %li
        Creation of the administration area for levels, plants and genera.

  %section
    %h2 19/11/2020 - 0.0.6 - Merging projects
    %ul
      %li
        Merge the <em>frontend</em> project with the <em>backend</em> in one Ruby
        on Rails application.
      %li
        Development tools improvements (mainly code generators).

  %section
    %h2 11/11/2020 - 0.0.5 - Resources
    %ul
      %li
        Plants are now <em>resources</em>. A generic name which allows to integrate
        the living elements (insects, ...) in maps.
      %li
        Add concept of resource interactions.
      %li
        Add concept of "resources groups": a "generic" plant can have many variants, which
        allows to place elements without knowing the exact variety.
      %li
        Add attributes to resources: common names, edible.
      %li
        Add attributes to genera: reign (animal/plant).

  %section
    %h2 11/11/2020 - 0.0.4 - Genera
    %ul
      %li
        Add the plant genera (yup, plural of <em>genus</em>).

  %section
    %h2 08/11/2020 - 0.0.3 - Integration
    %ul
      %li
        The <em>backend</em> now works with the <em>frontend</em>!
      %li
        Automatic generation of plants map markers.

  %section
    %h2 06/11/2020 - 0.0.2 - Swagger documentation
    %ul
      %li
        Creatio, of the <em>Swagger</em>, documentation, available on
        <a href="/swagger.json" target="_blank">the project</a>.
      %li
        Add the "patch" concept: a patch can have multiple elements.

  %section
    %h2 05/11/2020 - 0.0.1 - Backend creation
    %ul
      %li Creation of a Ruby on Rails API.
      %li Creation of the base structure: maps, plants, elements, as in the proof of concept.

  %section
    %h2 31/10/2020 - Proof of concept

    Creation of a test interface, to check the idea (no database)
