- @page_title = 'Journal de changements'

.page--static
  %section
    %p Vous trouverez sur cette page les derniers changements apportés à Garden Party.

    .alert.alert--info
      Les dates correspondent aux changements dans le code du projet, pas aux dates où
      ces changements sont disponibles en ligne.

  %section
    %h2 17/12/2020
    %ul
      %li
        Amélioration du retours visuel lors de la validation d'un formulaire
      %li
        Amélioration du style des blocs d'alerte
      %li
        Les instances sont maitenant configurables avec un fichier YAML.

  %section
    %h2 15/12/2020 - Documentation
    %ul
      %li
        Ajout de liens vers la documentation utilisateur
      %li
        Amélioration du sélecteur de dates pour les actions

  %section
    %h2 09/12/2020 - Corrections
    %ul
      %li
        Une erreur empêchait la création d'actions dans le futur et a été corrigée.

  %section
    %h2 07/12/2020 - 0.0.12 - Planification
    %ul
      %li
        Des changements apportés aux éléments permettent maintenant de planifier
        à l'avance la date à laquelle ils seront retirés des parcelles.
      %li
        Des changements ont été apportés sur l'inventaire pour le rendre plus
        lisible.

  %section
    %h2 06/12/2020 - Maintenance
    %ul
      %li
        Les actions sont maintenant <em>polymorphiques</em>. L'attribut <code>
        element_id</code> a été remplacé par <code>subject_id</code> et <code>
        subject_type</code>.
      %li
        Écriture des premiers tests Cucumber
        Write Cucumber tests for the "Inventory" view.

  %section
    %h2 05/12/2020 - Maintenance
    %ul
      %li
        La table "crops" a été renommée en "elements".

  %section
    %h2 04/12/2020 - Tâches
    %ul
      %li
        Création d'une page de tâches, listant toutes les actions en attente
        jour par jour.

  %section
    %h2 03/12/2020 - 0.0.11 - Planification
    %ul
      %li
        Création du système de planification d'actions : une action sur une culture
        peut maintenant être définie dans le futur, et être validée une fois faite.
        Pratique pour planifier ses tailles d'une année à l'autre !

  %section
    %h2 01/12/2020 - Recherche
    %ul
      %li
        Création d'un champ de recherche pour trouver des ressources plus facilement.
      %li
        Correction de la selection de sous-resources.
      %li
        Création de la zone d'administration pour les interactions entre ressources.

  %section
    %h2 29/11/2020 - 0.0.10 - Enlèvement de ressources
    %ul
      %li
        Il est possible d'enlever une ressource d'une parcelle. La ressource sera
        marquée comme "enlevée" et n'apparaîtra plus sur la carte.
        L'élément sera tout de même visible dans l'inventaire, afin de pouvoir le
        consulter.
      %li
        Il est maintenant possible de supprimer ses propres cartes.
      %li
        Une confirmation est maintenant demandée lors de la suppression d'éléments.
      %li
        Quelques améliorations de l'interface, correction d'affichage pour Chrome.
      %li
        Lors de la création/suppression/mise à jour d'éléments, un retours est
        maintenant fait à l'utilisateur
      %li
        Les erreurs de formulaire sont maintenant affichées.

  %section
    %h2 28/11/2020 - 0.0.9 - Actions
    %ul
      %li
        Il est possible de déterminer quand une ressource
        a été ou sera placée dans le monde réel.
      %li
        Création d'un système d'actions simples: il est maintenant possible d'effectuer
        des actions sur les cultures (plantes placées dans une parcelle) et d'y associer
        une note.
      %li
        Un tableau récapitulatif des actions menées sur chaque culture est disponible.

  %section
    %h2 26/11/2020 - 0.0.8 - Authentification
    %ul
      %li
        Mise en place de l'authentification des utilisateurs.
      %li
        Les cartes appartiennent maintenant à quelqu'un !
      %li
        Mise en place du système d'autorisations : un utilisateur ne peut
        modifier que ses cartes.

  %section
    %h2 19/11/2020 - 0.0.7 - Administration
    %ul
      %li
        Création de la partie d'administration pour les niveaux, plantes, et genres.

  %section
    %h2 19/11/2020 - 0.0.6 - Fusion des projets
    %ul
      %li
        Fusion du <em>frontend</em> et du <em>backend</em> en une seule application
        Ruby On Rails.
      %li
        Amélioration des outils de développement (générateurs de code, principalement).

  %section
    %h2 11/11/2020 - 0.0.5 - Ressources
    %ul
      %li
        Les plantes sont maintenant des <em>ressources</em>. Un nom plus générique, mais qui
        permet d'intégrer le vivant (insectes, ...) dans les cartes.
      %li
        Création du concept d'interactions entre ressources.
      %li
        Création du concept de "groupe de plantes" : une plante "générique" (ex. : tomate)
        peut avoir plusieur variantes spécifiques (ex. : cœur de boeuf, tomate ananas),
        permettant de placer des éléments sans en connaitre la variété à l'avance.
      %li
        Ajout d'attributs aux ressources: Noms communs, mangeable.
      %li
        Ajout d'attributs aux genres: Règne (animal/végétal).

  %section
    %h2 11/11/2020 - 0.0.4 - Genre des plantes
    %ul
      %li
        Intégration des genres des plantes.

  %section
    %h2 08/11/2020 - 0.0.3 - Intégration
    %ul
      %li
        Le <em>backend</em> fonctionne avec le <em>frontend</em> !
      %li
        Génération automatique des marqueurs de carte pour les plantes.

  %section
    %h2 06/11/2020 - 0.0.2 - Documentation Swagger
    %ul
      %li
        Mise en place de la documentation <em>Swagger</em>, disponible sur
        <a href="/swagger.json" target="_blank">le projet</a>.
      %li
        Intégration du concept de "parcelles" : une parcelle peut contenir plusieur
        cultures

  %section
    %h2 05/11/2020 - 0.0.1 - Création du backend
    %ul
      %li Création d'une API Ruby On Rails
      %li Création du système de base : cartes, plantes, cultures, identique à la preuve de concept

  %section
    %h2 31/10/2020 - Preuve de concept

    Création d'une interface sans base de données pour tester l'idée.
