<%-
  # Base template:
  # haml-rails/lib/generators/haml/scaffold/templates/index.html.haml

  # Custom vars from available generator methods/instance vars:
  # i.e.: member
  namespace_name = class_path.length > 0 ? class_path.first : nil
  # i.e.: post (without namespace)
  singular_table_name_only = file_name
  # i.e.: posts (without namespace)
  plural_table_name_only = controller_class_name.demodulize.underscore
  # i.e: member_post_path(@post)
  path_method_to_one = namespace_name.blank? ? "#{singular_table_name}_path(#{singular_table_name_only})" : "#{namespace_name}_#{singular_table_name_only}_path(#{singular_table_name_only})"
-%>
- @page_title = t('.title')

.page__actions
  = link_to t('.new'), new_<%= singular_table_name %>_path, role: 'button', class: 'creative'

- if @<%= plural_table_name_only %>.count.zero?
  .alert.alert--empty= t('.no_content')
- else
  %table
    %thead
      %tr
        <%- for attribute in attributes -%>
        %th= t('activerecord.attributes.<%= singular_table_name_only %>.<%= attribute.name %>')
        <%- end -%>
        <%- unless namespace_name.blank? -%>
        %th
        <%- end -%>

    %tbody
      - @<%= plural_table_name_only %>.each do |<%= singular_table_name_only %>|
        %tr
          <%- attribute_index = 0 -%>
          <%- for (attribute, index) in attributes -%>
          %td<%- if attribute_index == 0
          -%>= link_to <%= singular_table_name_only %>.<%= attribute.name %>, <%= path_method_to_one %>
          <%- else -%>= <%= singular_table_name_only %>.<%= attribute.name %>
          <%- end -%>
          <%- attribute_index += 1 -%>
          <%- end -%>
          <%- unless namespace_name.blank? -%>
          %td.actions
            = link_to t('generic.edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name_only %>), role: 'button'
            = link_to t('generic.destroy'),
                      <%= path_method_to_one %>,
                      method: :delete,
                      data: { confirm: t('generic.are_you_sure') },
                      role: 'button',
                      class: 'destructive'
          <%- end -%>
