<template>
  <div>
    <div class="toolbar toolbar--tabs toolbar--right element-item-popup__buttons">
      <!-- Planned plantation notice -->
      <div v-if="element.isPlanned() && element.isImplantationPlanned()" class="toolbar__text text--info">
        {{ $t('js.elements.action_buttons.waiting_for_implantation_on', { date: $d(element.implantationPlannedFor, 'date') }) }}
      </div>

      <!-- Removed date -->
      <div v-else-if="element.isRemoved()" class="toolbar__text text--info">
        {{ $t('js.elements.action_buttons.removed_at', {date: $d(element.removedAt, 'date')}) }}
      </div>

      <!-- Plantation button -->
      <button v-else-if="!element.isImplanted()" type="button" :class="{active: implantElement}" @click="implantElement = true">
        <ph-arrow-bend-right-down />
        {{ $t('js.elements.action_buttons.implant') }}
      </button>

      <!-- Buttons for a planted resource -->
      <template v-else>
        <button v-for="button in buttons"
                :key="button.action"
                type="button"
                :class="{ active: action === button.action }"
                @click="action = button.action">
          <component :is="button.icon" />
          {{ button.label }}
        </button>
        <button type="button" class="text--warning" :class="{active: action === 'remove'}" @click="action = 'remove'">
          <ph-arrow-bend-right-up />
          {{ $t('js.elements.action_buttons.action.remove') }}
        </button>
      </template>

      <!-- Common element buttons -->
      <div class="separator" />
      <button type="button"
              :title="$t('js.elements.action_buttons.show_activity')"
              :disabled="!element.implantedAt || element.implantedAt > today"
              @click="$emit('show-activities', element)">
        <ph-notebook />
      </button>
      <template v-if="destructible">
        <button type="button"
                :title="$t('js.elements.action_buttons.destroy_element')"
                class="text--destructive"
                @click="$emit('trash-element', element.id)">
          <ph-trash />
        </button>
      </template>
    </div>
    <form-errors :errors="errors" :model="errorsModel" class="element-item-popup__content" />
    <div v-if="action || implantElement" class="element-item-popup__content">
      <!-- Form for plantation -->
      <form v-if="implantElement" action="#" @submit.prevent="implant">
        <div class="field">
          <label :id="`${formId}-implanted-at`">{{ $t('js.elements.action_buttons.plantation_date') }}</label>
          <date-time-picker v-model="implantInputDate"
                            :time="false"
                            :input-id="`${formId}-implanted-at`"
                            input-name="implanted_at" />
        </div>
        <div class="form__actions">
          <button type="reset" :disabled="loading" @click="implantElement = false">{{ $t('generic.cancel') }}</button>
          <submit-button :loading="loading" />
        </div>
      </form>
      <!-- Form for removal -->
      <form v-else-if="action === 'remove'" action="#" @submit.prevent="remove">
        <div class="field">
          <label :id="`${formId}-removed-at`">{{ $t('js.elements.action_buttons.removal_date') }}</label>
          <date-time-picker v-model="removeInputDate"
                            :time="false"
                            :input-id="`${formId}-removed-at`"
                            :not-before="element.implantedAt"
                            input-name="removed_at" />
        </div>
        <div class="form__actions">
          <button type="reset" :disabled="loading" @click="action = ''">{{ $t('generic.cancel') }}</button>
          <submit-button :loading="loading" />
        </div>
      </form>
      <!-- Form for actions -->
      <activity-form v-if="action && action !== 'remove'"
                     :element-id="element.id"
                     :action="action"
                     @cancel="action = ''"
                     @done="action=''" />
    </div>
  </div>
</template>
<script>
import {
  PhArrowBendRightDown,
  PhDrop,
  PhHourglassMedium,
  PhLightning,
  PhNote,
  PhNotebook,
  PhScissors,
  PhTrash,
  PhArrowBendRightUp,
} from 'phosphor-vue'
import randomString from '../../helpers/RandomString'
import Element from '../../classes/models/Element'
import DateTimePicker from '../Widgets/DateTimePicker'
import FormErrors from '../Widgets/FormErrors'
import ActivityForm from '../Activities/_Form'
import SubmitButton from '../Widgets/Inputs/SubmitButton'

/**
 * @emits show-activities
 * @emits trash-element
 */
export default {
  name: 'ElementActionButtons',
  components: { SubmitButton, ActivityForm, FormErrors, DateTimePicker, PhHourglassMedium, PhArrowBendRightDown, PhTrash, PhNotebook, PhArrowBendRightUp },
  props: {
    element: { required: true, type: Element },
    destructible: { required: false, type: Boolean, default: true },
  },
  data () {
    return {
      action: '',
      implantInputDate: new Date().toISOString(),
      removeInputDate: new Date().toISOString(),
      implantElement: false,
      loading: false,
      formId: randomString(),
      today: new Date(),
      buttons: [
        { action: 'water', label: this.$t('js.elements.action_buttons.action.water'), icon: PhDrop },
        { action: 'fertilize', label: this.$t('js.elements.action_buttons.action.fertilize'), icon: PhLightning },
        { action: 'trim', label: this.$t('js.elements.action_buttons.action.trim'), icon: PhScissors },
        { action: 'note', label: this.$t('js.elements.action_buttons.action.observe'), icon: PhNote },
      ],
      errors: null,
      errorsModel: '',
    }
  },
  methods: {
    implant () {
      this.errors = null
      this.loading = true
      this.$store.dispatch('implantElement', { id: this.$props.element.id, date: this.implantInputDate })
        .then(() => {
          this.implantElement = false
          this.loading = false
        })
        .catch((error) => {
          this.errors = error
          this.errorsModel = 'element'
          this.loading = false
        })
    },
    remove () {
      this.errors = null
      this.loading = true
      this.$store.dispatch('removeElement', { id: this.$props.element.id, date: this.removeInputDate })
        .then(() => {
          this.action = null
          this.loading = false
        })
        .catch((error) => {
          this.errors = error
          this.errorsModel = 'element'
          this.loading = false
        })
    },
  },
  created () {
    this.loading = true
    this.$store.dispatch('loadActivities', this.$props.element.id)
      .then(() => { this.loading = false })
  },
}
</script>
