<template>
  <div>
    <div v-if="activities.length === 0" class="empty">
      <ph-asterisk size="30" />
      {{ $t('js.elements.activities.no_activity') }}
    </div>
    <table v-else>
      <thead>
        <tr>
          <th>{{ $t('activerecord.attributes.activity.planned_for') }}</th>
          <th>{{ $t('activerecord.attributes.activity.done_at') }}</th>
          <th>{{ $t('js.elements.activities.action') }}</th>
          <th>{{ $t('js.elements.activities.notes') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="activity in activities" :key="activity.id">
          <td>{{ activity.plannedFor ? $d(activity.plannedFor, 'date') : '-' }}</td>
          <td>{{ activity.doneAt ? $d(activity.doneAt, 'date') : '-' }}</td>
          <td>
            <component :is="icons[activity.name].icon" />
            {{ icons[activity.name].string }}
          </td>
          <td>{{ activity.notes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { PhAsterisk, PhDrop, PhLightning, PhNote, PhScissors } from 'phosphor-vue'
import Element from '../../classes/models/Element'

export default {
  name: 'ElementActivities',
  components: { PhAsterisk },
  props: {
    element: { required: true, type: Element },
  },
  data () {
    return {
      loading: false,
      icons: {
        water: { icon: PhDrop, string: this.$t('js.elements.activities.watered') },
        fertilize: { icon: PhLightning, string: this.$t('js.elements.activities.fertilized') },
        trim: { icon: PhScissors, string: this.$t('js.elements.activities.trimmed') },
        note: { icon: PhNote, string: this.$t('js.elements.activities.noted') },
      },
    }
  },
  computed: {
    activities () { return this.$store.getters.activitiesByElement(this.$props.element.id) },
  },
  methods: {
    loadActivities () {
      this.loading = true
      this.$store.dispatch('loadActivities', this.$props.element.id)
        .then(() => { this.loading = false })
    },
  },
  created () { this.loadActivities() },
}
</script>
