<template>
  <div class="element-item" :class="{removed : element.isRemoved()}">
    <h3 class="element-item__title">
      <img v-if="resource" :src="resource.getPicturePath()" alt="">
      {{ element.getName() }}
    </h3>
    <element-action-buttons :element="element"
                            class="element-item__actions"
                            @trash-element="bubbleTrashElement"
                            @show-activities="bubbleShowActivities" />
    <elements-item-content v-if="!element.isRemoved()" :element="element" class="element-item__content" />
  </div>
</template>
<script>
import Element from '../../classes/models/Element'
import ElementActionButtons from './_ActionButtons'
import ElementsItemContent from './_ItemContent'

/**
 * @emits show-activities
 * @emits trash-element
 */
export default {
  name: 'ElementsItem',
  components: { ElementsItemContent, ElementActionButtons },
  props: {
    element: { required: true, type: Element },
    editable: { required: false, type: Boolean, default: true },
  },
  computed: {
    resource () { return this.$store.getters.resource(this.$props.element.resourceId) },
    layer () { return this.$store.getters.layer(this.$props.resource.layerId) },
  },
  methods: {
    bubbleTrashElement (elementId) { this.$emit('trash-element', elementId) },
    bubbleShowActivities (element) { this.$emit('show-activities', element) },
  },
  filters: {
    niceDate (date) {
      if (!date) return '-'
      return new Intl.DateTimeFormat('fr', {
        year: 'numeric',
        month: 'short',
        day: '2-digit',
      }).format(date)
    },
  },
}
</script>
