<template>
  <li v-if="layer" class="resources_list__resource">
    <div class="resources_list__resource__header">
      <img v-if="resource" :src="resource.getPicturePath()" alt="">
      <h4 v-if="element.name">{{ element.name }} ({{ resource.name }})</h4>
      <h4 v-else>{{ resource.name }}</h4>
    </div>
  </li>
</template>
<script>
export default {
  name: 'ElementsListItem',
  props: {
    element: { required: true, type: Object },
  },
  data () {
    return {
      resource: null,
      layer: null,
    }
  },
  created () {
    this.resource = this.$store.getters.resource(this.$props.element.resourceId)
    this.layer = this.$store.getters.layer(this.resource.layerId)
  },
}
</script>
