<template>
  <div class="library">
    <div class="library__sidebar">
      <div class="centered">
        <div class="toolbar">
          <button :class="{active: order === 'layer'}" @click="order = 'layer'">
            {{ $t('js.genera.index.layer') }}
          </button>
          <button :class="{active: order === 'genera'}" @click="order = 'genera'">
            {{ $t('js.genera.index.genus') }}
          </button>
          <button :class="{active: order === 'name'}" @click="order = 'name'">
            {{ $t('js.genera.index.name') }}
          </button>
        </div>
      </div>
      <div v-bar class="library__sidebar__list">
        <div>
          <div v-if="order === 'layer'">
            <div v-for="layer in layers" :key="layer.id">
              <h3 :style="`border-bottom:2px solid ${layer.borderColor}`">{{ layer.name }}</h3>
              <div v-for="resource in layer.getResources()"
                   :key="resource.id"
                   :class="{active: resource.id === selectedResourceId }"
                   class="item"
                   @click="selectedResourceId = resource.id">
                <img :src="resource.getPicturePath()" alt="">
                <div>{{ resource.name }}</div>
              </div>
            </div>
          </div>

          <div v-if="order === 'genera'">
            <div v-for="genus in genera" :key="genus.id">
              <h3>{{ genus.name }}</h3>
              <div v-for="resource in genus.getResources()"
                   :key="resource.id"
                   :class="{active: resource.id === selectedResourceId }"
                   class="item"
                   @click="selectedResourceId = resource.id">
                <img :src="resource.getPicturePath()" alt="">
                <div>{{ resource.name }}</div>
              </div>
            </div>
          </div>

          <div v-if="order === 'name'">
            <div v-for="resource in resources"
                 :key="resource.id"
                 class="item"
                 :class="{active: resource.id === selectedResourceId }"
                 @click="selectedResourceId = resource.id">
              <img :src="resource.getPicturePath()" alt="">
              <div>{{ resource.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="library__content">
      <p v-if="!selectedResource">Please select a resource to display</p>
      <div v-else>
        <resource-description-area :resource="selectedResource" />
      </div>
    </div>
  </div>
</template>

<script>
import ResourceDescriptionArea from '../Resources/_DescriptionArea'

export default {
  name: 'GeneraIndex',
  components: { ResourceDescriptionArea },
  data () {
    return {
      order: 'layer',
      selectedResourceId: null,
    }
  },
  computed: {
    layers () { return this.$store.getters.layers },
    resources () { return this.$store.getters.resources },
    genera () { return this.$store.getters.genera },
    selectedResource () {
      return this.resources.find((p) => p.id === this.selectedResourceId)
    },
  },
}
</script>
