.alert {
  padding: $spacer-default;
  margin: $spacer-default 0;

  &--info,
  &--notice {
    border: 1px solid var(--color-info);
    background-color: var(--color-info-transparent);
    color: var(--color-info);
  }

  &--mute {
    border: 1px solid var(--color-mute);
    background-color: var(--color-mute-transparent);
    color: var(--color-mute);
  }

  &--warning {
    border: 1px solid var(--color-warning);
    background-color: var(--color-warning-transparent);
    color: var(--color-warning);
  }
}
