.datetime_picker {
  display: inline-flex;
  flex-direction: column;
  padding: 0 $spacer-tiny;
  background-color: var(--element-background);
  gap: $spacer-tiny;

  &__header {
    display: flex;
    align-items: center;

    &__date {
      flex-grow: 1;
      font-size: $font-size-smaller;
      text-align: center;
    }

    .toolbar {
      flex: none;
    }
  }

  &__days {
    display: grid;
    grid-column-gap: $spacer-tiny;
    grid-template-columns: repeat(7, 1fr);

    &__header {
      border-bottom: 1px solid var(--border-color);
      font-size: $font-size-smaller;
      text-align: center;
    }
  }

  &__day {
    width: 4ex;
    border: none;
    text-align: right;

    &--today {
      font-weight: bold;
    }

    &--selected {
      background-color: var(--state-ok);
      color: var(--state-ok-inverse);
    }

    &--out_of_range {
      color: var(--color-mute);
    }

    &[disabled] {
      color: var(--color-mute);
    }
  }

  &__time {
    text-align: center;

    input {
      display: inline;
      width: 6em;
      appearance: textfield;

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
      }
    }
  }

  &__summary {
    text-align: center;
  }

  &--popup {
    position: absolute;
    z-index: 1;
    left: 0;
    border: 1px solid var(--border-color);
  }
}
