.devise-form {
  width: 300px;
  margin: 0 auto;

  // Main form
  > form {
    padding: $spacer-default;
    background-color: var(--element-background);
  }

  // Links or related actions
  > div {
    padding: $spacer-default;
  }

  // Overrides
  .form__actions {
    padding: 0;
    margin-top: $spacer-default;
  }
}
