.element-item {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--base-background);

  &__title {
    padding: $spacer-tiny $spacer-default;
    background-color: var(--element-background);
    font-size: $font-size-h3;

    img {
      height: 1em;
      margin-bottom: -2px;
    }
  }

  &__actions {
    padding: $spacer-tiny;

    .element-item-popup__content {
      margin: 0;
      border-top-left-radius: $border-radius*2;
      border-top-right-radius: $border-radius*2;
    }
  }

  &__content {
    padding: 0 $spacer-default $spacer-small $spacer-default;
    font-size: $font-size-smaller;
  }

  &:not(:first-child) {
    margin-top: $spacer-small;
  }
}
