.empty {
  display: grid;
  margin: $spacer-default 0;
  cursor: default;
  justify-items: center;
  opacity: 0.5;
  transition: opacity ease-in 200ms;

  &:hover {
    opacity: 0.8;
    transition: opacity ease-in 200ms;
  }
}
