.form {
  &__actions {
    padding: $spacer-default $spacer-small;
    text-align: right;
  }

  // Rails class
  .field_with_errors {
    color: var(--color-danger);
  }
}

.field {
  position: relative;

  &:not(:first-child) {
    margin-top: $spacer-default;
  }

  &__help {
    color: var(--color-info);
    font-size: $font-size-smaller;
  }
}

.textarea {
  &--markdown {
    font-family: monospace;
  }

  &--large {
    min-height: 60vh;
  }
}
