.form-errors {
  padding: $spacer-small $spacer-default;
  background-color: var(--state-danger);
  color: var(--state-danger-inverse);

  > ul {
    margin-top: $spacer-default;
    list-style-type: none;

    ul {
      padding: $spacer-small $spacer-default;
      margin-left: $spacer-default;
      list-style-type: '– ';
    }
  }
}
