.garden {
  $garden-toolbar-height: 100px;
  $garden-options-height-calc: '#{$page-height-calc} - (#{$garden-toolbar-height} + #{$spacer-default})';
  $resource-list-height-calc: '#{$garden-options-height-calc} - #{$spacer-default * 4}';

  height: calc(#{$page-height-calc});

  &__toolbar {
    display: flex;
    height: $garden-toolbar-height;
    padding: $spacer-default;
    box-shadow: 0 4px 12px -7px black;
    grid-area: 1 / 1 / 2 / 6;

    &__main {
      flex-grow: 1;
    }

    &__toolbar {
      flex: none;
    }
  }

  &__content {
    display: grid;
    height: calc(#{$garden-options-height-calc});
    margin-top: $spacer-default;
    margin-right: $spacer-default;
    grid-template-columns: repeat(5, 1fr);

    &__options {
      padding: 0 0 $spacer-default 0;
      grid-area: 1 / 1 / 3 / 2;

      &__scroll_area {
        height: calc(#{$resource-list-height-calc});
        margin-top: $spacer-default;
        box-shadow: inset 0 5px 10px -10px black, inset 0 -5px 10px -10px black;
      }
    }

    &__map {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
      grid-area: 1 / 2 / 3 / 6;
    }
  }

  .layers-list {
    margin-top: #{$spacer-default * 3 + $spacer-small};
  }

  .search-form {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: $spacer-small $spacer-default;
    border-bottom: 1px solid var(--border-color-lighter);
    background-color: var(--element-background);
    box-shadow: inset 0 5px 10px -10px black;

    .field {
      display: flex;
      align-items: center;

      label {
        flex: none;
        padding-right: $spacer-small;
      }

      input {
        flex-grow: 1;
      }
    }
  }
}
