%grid {
  display: grid;
  grid-column-gap: $spacer-default;
}

.grid {
  &--2 {
    @extend %grid;

    grid-template-columns: 1fr 1fr;
  }

  &--3 {
    @extend %grid;

    grid-template-columns: 1fr 1fr 1fr;
  }
}
