.item {
  display: block;
  width: 100%;
  padding: $spacer-small $spacer-default;
  border: none;
  margin-top: $spacer-small;
  border-radius: $border-radius;
  font-size: $font-size-default;
  font-variant: none;
  text-align: left;

  &:hover {
    background-color: var(--element-background);
  }

  &--small {
    padding: 0 $spacer-small;
    margin-top: $spacer-tiny;
    font-size: $font-size-smaller;

    .item__content {
      padding: $spacer-tiny 0;
    }
  }

  &--has-actions {
    display: flex;
    align-items: center;
    padding-right: 0;

    .item__content {
      flex-grow: 1;
    }

    .item__actions {
      flex: none;
      font-size: $font-size-default;
    }
  }
}
