.library {
  $list-height-calc: '#{$page-height-calc} - #{$spacer-default*3}';

  display: grid;
  padding: $spacer-default $spacer-default $spacer-default 0;
  grid-column-gap: $spacer-default;
  grid-template-columns: 250px auto;

  &__sidebar {
    height: calc(#{$page-height-calc} - #{$spacer-default});
    padding: $spacer-default;
    margin: 0 -$spacer-default;

    &__actions {
      box-shadow: 0 4px 12px -7px black;
    }

    &__list {
      height: calc(#{$list-height-calc});

      // FIXME: Same as in the garden toolbar
      box-shadow: inset 0 5px 10px -10px black, inset 0 -5px 10px -10px black;

      h3 {
        margin: $spacer-small;
      }

      .item {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          height: 1.5em;
        }

        div {
          padding-left: $spacer-small;
        }

        &.active {
          background-color: var(--state-active);
        }
      }
    }

    .toolbar {
      margin-bottom: $spacer-default;
    }
  }
}
