.map_form {
  padding: $spacer-default;

  &__map {
    width: 100%;
    height: 600px;
    max-height: 60vh;
  }

  .selectable {
    padding: $spacer-small;
    border: 1px solid var(--border-color);
    margin-bottom: $spacer-small;

    input[type="radio"] { display: none; }
    label { cursor: pointer; }

    &--selected {
      border-color: var(--color-info);
      background-color: var(--color-info-transparent);
    }
  }
}
