.modal {
  &__overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__widget {
    position: fixed;
    z-index: 2;
    top: $spacer-default*10;
    left: calc((100vw - 600px) / 2);
    width: 600px;
    max-width: 80vw;
    background-color: var(--base-background);
    border-radius: $border-radius;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  }

  &__title {
    padding: $spacer-default $spacer-small;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--element-title);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &__content {
    max-height: 60vh;
    padding: $spacer-default $spacer-small;
    overflow-y: auto;
  }

  &__footer {
    padding: $spacer-default $spacer-small;
    border-top: 1px solid var(--border-color);
    text-align: right;
  }

  &--wide {
    > .modal__widget {
      left: 10vw;
      width: 80vw;
    }
  }
}
