.resources_list {
  padding: 0 $spacer-default;
  margin-top: $spacer-default;
  list-style: none;

  &__title {
    font-size: $font-size-h3;
    font-weight: 500;
  }

  &__description {
    padding: $spacer-tiny 0;
    font-size: $font-size-smaller;
    font-weight: lighter;
  }

  &__content {
    display: block;
  }

  &__resources {
    list-style: none;
  }

  &__resource {
    padding: $spacer-tiny 0;

    &__header {
      display: flex;
      align-items: center;
      gap: $spacer-tiny;
      grid-area: title;

      img {
        width: 1em;
        flex: none;
      }

      h4 {
        flex-grow: 1;
        padding: $spacer-tiny;
        border-right: 2px solid transparent;
        border-left: 2px solid transparent;
        border-radius: $border-radius;
        cursor: pointer;
        font-weight: normal;

        &.active {
          border-color: var(--border-color);
          background-color: var(--element-background);
        }
      }
    }

    &__content {
      padding: 0 0 0 $spacer-default;
      margin: 0;
      list-style-type: none;
    }
  }

  &.hidden {
    .resources_list__content {
      display: none;
    }

    .resources_list__title {
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}
