/* stylelint-disable no-descending-specificity */
// FIXME: Reorder content, stop disabling things
.toolbar {
  display: inline-flex;
  height: 100%;
  justify-content: center;

  > .button,
  > button {
    @extend .button;

    padding: $spacer-small;
    border: none;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    text-align: center;

    &:not(:last-child) {
      margin-right: 1px;
    }

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }

    &.router-link-exact-active,
    &.active {
      background-color: var(--element-title);
    }

    &.inactive {
      color: var(--color-mute);
    }

    &.button--icon {
      flex: none;
    }
  }

  &__text {
    padding: $spacer-small;
    font-size: smaller;
  }

  &--small {
    > .button,
    > button,
    > .toolbar__text {
      padding: $spacer-tiny;
      font-size: $font-size-smaller;
    }
  }

  // Used for lists, when items _are_ toolbars
  &--medium {
    > .button,
    > button,
    > .toolbar__text {
      padding: $spacer-default;
      font-size: $font-size-larger;
    }
  }

  // Used for main toolbars
  &--large {
    > .button,
    > button {
      > span:first-child {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        font-size: $font-size-medium;
      }

      > span:last-child {
        font-size: $font-size-small;
      }
    }
  }

  &--right {
    display: flex;
    justify-content: flex-end;
  }

  &--bordered {
    box-shadow: 0 0 1px 0 var(--border-color);
  }

  &--block {
    display: flex;
    margin-bottom: $spacer-default;
    border-radius: $border-radius;

    > :not(.button--icon) {
      flex-grow: 1;
    }
  }

  &--tabs {
    > .button,
    > button {
      border-radius: $border-radius $border-radius 0 0;

      &:first-child,
      &:last-child {
        border-radius: $border-radius $border-radius 0 0;
      }
    }
  }

  .separator {
    &::before {
      display: block;
      height: 60%;
      border-left: 1px solid var(--border-color-lighter);
      margin: 0.4em 0.2em;
      content: '';
    }
  }
}
/* stylelint-enable no-descending-specificity */
