/* stylelint-disable no-descending-specificity */
.vb {
  &.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: #d3d3d3;
  }

  &.vb-dragging > .vb-dragger > .vb-dragger-styler {
    height: 100%;
    background-color: grey;
  }

  // leaving this here as it was part of the original style
  // .vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  //   background-color: rgba(48, 121, 244, 0.5);
  // }

  > .vb-dragger {
    z-index: 5;
    right: 0;
    width: 0.5rem;

    > .vb-dragger-styler {
      display: block;
      height: calc(100% - 10px);
      backface-visibility: hidden;
      background-color: hsla(0, 0%, 50.2%, 0.2);
      transform: rotate3d(0, 0, 0, 0);
      transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;

      &:hover > .vb-dragger-styler {
        height: 100%;
        margin: 0;

        // leaving this here as it was part of the original style
        // background-color: rgba(48, 121, 244, 0.5);
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */
