<template>
  <nav class="main_menu">
    <div class="main_menu__links">
      <a href="/">{{ $t('js.layouts.garden.main_menu.home') }}</a>
      |
      <router-link :to="{name: 'maps'}">{{ $t('js.layouts.garden.main_menu.maps') }}</router-link>
      |
      <router-link :to="{name: 'genera'}">{{ $t('js.layouts.garden.main_menu.library') }}</router-link>
    </div>
    <div v-if="currentMap" class="main_menu__info">
      {{ $t('js.layouts.garden.main_menu.current_map', { name: currentMap.name }) }}
    </div>
  </nav>
</template>

<script>
export default {
  name: 'MainMenu',
  data () {
    return { currentMap: null }
  },
  methods: {
    setCurrentMap (id) {
      if (id === null) {
        this.currentMap = null
        return
      }

      this.currentMap = this.$store.getters.map(parseInt(id, 10))
    },
  },
  created () {
    this.setCurrentMap(this.$route.params.mapId)
  },
  watch: {
    '$route.params.mapId' (newValue) {
      this.setCurrentMap(newValue)
    },
  },
}
</script>
