<template>
  <!-- eslint-disable vue/no-v-html -->
  <div v-html="html" />
  <!-- eslint-enable vue/no-v-html -->
</template>

<script>
export default {
  name: 'MarkdownRenderer',
  props: {
    content: { required: true, type: String },
  },
  data () {
    return {
      html: '',
    }
  },
  methods: {
    render () {
      this.html = window.markdown(this.$props.content)
    },
  },
  created () {
    this.render()
  },
  watch: {
    content () { this.render() },
  },
}
</script>
