<template>
  <div class="modal">
    <div class="modal__overlay" @click="$emit('cancel')" />
    <div class="modal__widget">
      <h2 v-if="title" class="modal__title">{{ title }}</h2>
      <div class="modal__content">
        <slot />
      </div>
      <div v-if="hasFooter" class="modal__footer">
        <button v-if="cancellable" role="button" class="" @click="$emit('cancel')">{{ $t('generic.cancel') }}</button>
        <button v-if="validatable" role="button" class="" @click="$emit('validate')">{{ $t('generic.ok') }}</button>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'Modal',
  props: {
    cancellable: { required: false, type: Boolean, default: false },
    validatable: { required: false, type: Boolean, default: true },
    hasFooter: { required: false, type: Boolean, default: true },
    title: { required: true, type: String, default: null },
  },
}
</script>
